.custom-alpha,:host(.mega-shadow-dom),body{

	--mobile-font-family-main:"Inter", sans-serif;
	--mobile-font-family-heading:"Poppins", sans-serif;

	--mobile-font-weight-bold:700;
	--mobile-font-weight-semibold:600;
	--mobile-font-weight-regular:400;

	--mobile-font-line-height-heading:1.5;
	--mobile-font-line-height-text:1.5;

	--mobile-font-letter-spacing-body:0%;
	--mobile-font-letter-spacing-caption:2%;

	--mobile-font-size-1:10px;
	--mobile-font-size-2:12px;
	--mobile-font-size-3:14px;
	--mobile-font-size-4:16px;
	--mobile-font-size-5:18px;
	--mobile-font-size-6:20px;
	--mobile-font-size-7:24px;
	--mobile-font-size-8:32px;
	--mobile-font-size-9:40px;
	--mobile-font-size-10:48px;
	--mobile-font-size-11:60px;

	--mobile-font-heading-h1:var(--mobile-font-weight-bold) var(--mobile-font-size-6)/var(--mobile-font-line-height-heading) var(--mobile-font-family-heading);
	--mobile-font-heading-h2:var(--mobile-font-weight-bold) var(--mobile-font-size-5)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);
	--mobile-font-heading-h3:var(--mobile-font-weight-semibold) var(--mobile-font-size-5)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);

	--mobile-font-copy-regular:var(--mobile-font-weight-regular) var(--mobile-font-size-4)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-copy-semibold:var(--mobile-font-weight-semibold) var(--mobile-font-size-4)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-copy-bold:var(--mobile-font-weight-bold) var(--mobile-font-size-4)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);

	--mobile-font-caption-large-regular:var(--mobile-font-weight-regular) var(--mobile-font-size-3)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-caption-large-semibold:var(--mobile-font-weight-semibold) var(--mobile-font-size-3)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-caption-large-bold:var(--mobile-font-weight-bold) var(--mobile-font-size-3)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);

	--mobile-font-caption-small-regular:var(--mobile-font-weight-regular) var(--mobile-font-size-2)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);
	--mobile-font-caption-small-semibold:var(--mobile-font-weight-semibold) var(--mobile-font-size-2)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);
	--mobile-font-caption-small-bold:var(--mobile-font-weight-bold) var(--mobile-font-size-2)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);

	--mobile-font-link-large-regular:var(--mobile-font-weight-regular) var(--mobile-font-size-4)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-link-large-semibold:var(--mobile-font-weight-semibold) var(--mobile-font-size-4)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-link-large-bold:var(--mobile-font-weight-bold) var(--mobile-font-size-4)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);

	--mobile-font-link-small-regular:var(--mobile-font-weight-regular) var(--mobile-font-size-3)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-link-small-semibold:var(--mobile-font-weight-semibold) var(--mobile-font-size-3)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);
	--mobile-font-link-small-bold:var(--mobile-font-weight-bold) var(--mobile-font-size-3)/var(--mobile-font-line-height-text) var(--mobile-font-family-main);

	--mobile-font-label-bold:var(--mobile-font-weight-semibold) var(--mobile-font-size-4)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);
	--mobile-font-label-underline:var(--mobile-font-weight-semibold) var(--mobile-font-size-4)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);

	--mobile-font-input-regular:var(--mobile-font-weight-regular) var(--mobile-font-size-4)/var(--mobile-font-line-height-heading) var(--mobile-font-family-main);

	--mobile-background-blur-subtle:blur(2px);
	--mobile-background-blur-medium:blur(4px);
	--mobile-background-blur-strong:blur(8px);

	--mobile-elem-max-width:382px;
	--mobile-page-max-width:697px;
	--mobile-tablet-elem-width:327px
}
.theme-light,.theme-light .custom-alpha,html .theme-light-forced{

	--mobile-shadow-subtle:0px 2px 4px rgba(0, 0, 0, 0.1);
	--mobile-shadow-medium:0px 4px 8px rgba(0, 0, 0, 0.1);
	--mobile-shadow-strong:0px 8px 16px rgba(0, 0, 0, 0.15);
	--mobile-surface-node-icon-background:rgba(250, 250, 250, var(--mobile-surface-alpha, 0.7));
	--mobile-color-container-default:rgba(252, 239, 239, var(--mobile-surface-alpha, 1));
	--mobile-color-on-container:rgba(123, 33, 24, var(--mobile-surface-alpha, 1))
}
.theme-dark,.theme-dark .custom-alpha,html .theme-dark-forced{

	--mobile-shadow-subtle:0px 2px 4px rgba(0, 0, 0, 0.7);
	--mobile-shadow-medium:0px 4px 8px rgba(0, 0, 0, 0.7);
	--mobile-shadow-strong:0px 8px 16px rgba(0, 0, 0, 0.7);
	--mobile-surface-node-icon-background:rgba(48, 50, 51, var(--mobile-surface-alpha, 0.7));
	--mobile-color-container-default:rgba(123, 33, 24, var(--mobile-surface-alpha, 1));
	--mobile-color-on-container:rgba(252, 239, 239, var(--mobile-surface-alpha, 1))
}
