
.nav-elem.card{
	align-items:center;
	background-color:var(--mobile-page-background);
	border:1px solid var(--mobile-border-subtle);
	border-radius:var(--mobile-border-radius-medium);
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	height:110px;
	justify-content:space-between;
	padding:16px;
	text-align:center;
	width:120px
}
.nav-elem.card:hover{
	background-color:var(--mobile-surface-1);
	border-color:var(--mobile-border-strong)
}
.nav-elem.card:active{
	background-color:var(--mobile-surface-2);
	border-color:var(--mobile-border-strong)
}
.nav-elem.card.selected{
	background-color:var(--mobile-page-background);
	border-color:var(--mobile-interactive)
}
.nav-elem.card:disabled{
	background-color:var(--mobile-page-background);
	border-color:var(--mobile-border-disabled)
}
.nav-elem.card .primary-text{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-caption-small-semibold);
	margin-bottom:0;
	max-height:14px;
	overflow:hidden
}
.nav-elem.card .sub-text{
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-caption-small-regular)
}
