
.fm-context-menu,.fm-context-menu .context-submenu{
	background:var(--mobile-page-background);
	border:1px solid var(--mobile-border-strong);
	border-radius:16px;
	box-shadow:var(--mobile-shadow-medium);
	box-sizing:border-box;
	min-height:36px;
	min-width:280px;
	padding:4px 0;
	position:absolute;
	z-index:250
}
.fm-context-menu .context-submenu{
	left:100%;
	min-width:280px;
	padding:8px 0;
	right:auto;
	width:auto
}
.rtl .fm-context-menu{
	direction:rtl
}
.rtl .fm-context-menu .context-submenu{
	left:auto;
	right:100%
}
.fm-context-menu .context-label-section:not(.hidden),.fm-context-menu .context-section:not(.hidden){
	border-bottom:1px solid var(--mobile-border-strong);
	margin:4px 0;
	padding-bottom:4px
}
.fm-context-menu .context-section.last{
	border-bottom:unset;
	padding-bottom:0
}
.fm-context-menu .nav-elem.context-button{
	align-items:center;
	border-radius:8px;
	box-sizing:border-box;
	cursor:pointer;
	display:flex;
	height:36px;
	margin:0 8px;
	max-width:calc(100% - 16px);
	overflow:hidden;
	padding:0 8px;
	position:relative;
	text-overflow:ellipsis;
	white-space:nowrap
}
.fm-context-menu .nav-elem.context-button:hover{
	background:var(--mobile-button-outline-background-hover)
}
.fm-context-menu .nav-elem.context-button:active{
	text-decoration:none
}
.fm-context-menu .nav-elem.context-button .primary-text{
	font:var(--mobile-font-caption-large-regular)
}
.fm-context-menu .context-label-section{
	padding:8px 16px
}
.fm-context-menu .context-label-section .label-header{
	align-items:center;
	color:var(--mobile-text-primary);
	display:flex;
	justify-content:space-between
}
.fm-context-menu .context-label-section .clear-labels{
	cursor:pointer;
	height:16px;
	padding:0
}
.fm-context-menu .clear-labels .primary-text{
	color:var(--mobile-button-primary);
	font:var(--mobile-font-caption-large-regular);
	text-decoration:underline
}
.fm-context-menu .context-label-section .label-container{
	align-items:center;
	box-sizing:border-box;
	display:flex;
	height:36px;
	justify-content:space-between;
	margin-top:8px;
	padding-bottom:8px
}
.fm-context-menu .label-container .red-colour-label{
	--context-label-colour:var(--label-red)
}
.fm-context-menu .label-container .orange-colour-label{
	--context-label-colour:var(--label-orange)
}
.fm-context-menu .label-container .yellow-colour-label{
	--context-label-colour:var(--label-yellow)
}
.fm-context-menu .label-container .green-colour-label{
	--context-label-colour:var(--label-green)
}
.fm-context-menu .label-container .blue-colour-label{
	--context-label-colour:var(--label-blue)
}
.fm-context-menu .label-container .purple-colour-label{
	--context-label-colour:var(--label-purple)
}
.fm-context-menu .label-container .grey-colour-label{
	--context-label-colour:var(--mobile-icon-disabled)
}
.fm-context-menu .label-container .colour-item{
	background:var(--context-label-colour);
	border-radius:100%;
	cursor:pointer;
	margin:0 8px
}
.fm-context-menu .label-container .colour-item:hover{
	background:var(--context-label-colour)
}
.fm-context-menu .label-container .colour-item.selected{
	border:4px solid var(--mobile-page-background);
	outline:2px solid var(--context-label-colour)
}
.fm-context-menu .label-container .colour-item:not(.selected):hover{
	outline:8px solid var(--mobile-surface-2)
}
.fm-context-menu .right-badge.transferit{
	background:#1875ff;
	color:var(--mobile-text-on-color)
}
