
.mega-header{
	overflow:visible;
	z-index:auto
}
.rtl .mega-header{
	direction:rtl
}
.mega-header .top-block{
	align-items:center;
	border-bottom:none;
	height:65px;
	padding:12px
}
.mega-header .top-block.border-bottom,body.pwm-ui .mega-header .top-block{
	border-bottom:1px solid var(--mobile-border-strong)
}
.mega-header .top-block .nav-navigation{
	flex-grow:1
}
.mega-header .top-block .nav-actions>:not(i):not(a){
	margin-inline-start:24px
}
.mega-header .top-block .nav-actions>:not(.avatar-menu)>button{
	display:inline-block;
	padding:4px;
	vertical-align:top
}
.mega-header .top-block .nav-actions>:not(.avatar-menu)>button.active:before,.mega-header .top-block .nav-actions>:not(.avatar-menu)>button:hover:before,.mega-header .top-block .nav-actions>button.avatar.active:before,.mega-header .top-block .nav-actions>button.avatar:hover:before{
	background-color:var(--mobile-surface-2);
	bottom:-16px;
	content:"";
	display:block;
	left:-12px;
	position:absolute;
	right:-12px;
	top:-16px
}
.mega-header .top-block .nav-actions>:not(.avatar-menu)>button:hover:before,.mega-header .top-block .nav-actions>button.avatar:hover:before{
	background-color:var(--mobile-surface-1)
}
.mega-header .top-block .nav-actions>:not(.avatar-menu):not(.topbar-links)>button>*,.mega-header .top-block .nav-actions>button.avatar>:not(.activity-status-block){
	position:relative
}
.mega-header .top-block .nav-actions>button.avatar>:not(:last-child){
	margin-inline-end:0
}
.mega-header .top-block .nav-actions,.mega-header .top-block .nav-navigation{
	align-items:center;
	position:relative
}
.mega-header .top-block .nav-actions{
	margin-inline-end:24px
}
.mega-header .bottom-block .heading{
	display:none
}
.mega-header .bottom-block{
	border-bottom:1px solid var(--mobile-border-strong);
	flex-shrink:0
}
.mega-header .bottom-block .block .nav-actions{
	margin-bottom:0
}
.mega-header .nav-elem.text-only{
	height:24px;
	padding:0;
	text-decoration:none
}
.mega-header .nav-elem.link.text-only span{
	font:var(--mobile-font-label-underline)
}
.mega-header .link.avatar div span{
	text-decoration:none
}
.mega-header button{
	cursor:pointer
}
.mega-header .nav-elem.text-icon{
	color:var(--mobile-text-primary);
	height:auto;
	vertical-align:middle;
	width:auto
}
.mega-header .nav-elem.home i.left-icon,.mega-top-menu .nav-elem.home i.left-icon{
	--width:var(--icon-size);
	--height:var(--icon-size)
}
.mega-header .fmdb-loader{
	display:inline-block;
	height:24px;
	margin:0 24px;
	opacity:0;
	transition:opacity .1s;
	width:24px
}
.mega-header .top-mega-version{
	color:var(--text-color-low);
	cursor:pointer;
	font:var(--mobile-font-caption-small-regular)
}
.fmdb-working .mega-header .fmdb-loader{
	animation:rotate 1.5s linear infinite;
	animation-timing-function:steps(12);
	opacity:1
}
.fmdb-working .mega-header .fmdb-loader:after{
	background:transparent;
	border:2px solid var(--mobile-page-background);
	bottom:-1px;
	content:"";
	display:block;
	left:-1px;
	position:absolute;
	right:-1px;
	top:-1px
}
.mega-header .menu-wrapper{
	position:relative
}
.mega-header div.header-dropdown-menu,.mega-header div.header-dropdown-menu .sub-menu{
	background-color:var(--mobile-page-background);
	border:1px solid var(--mobile-border-strong);
	border-radius:var(--mobile-border-radius-large);
	box-shadow:var(--mobile-shadow-medium);
	min-width:313px;
	position:absolute;
	right:-8px;
	top:calc(100% + 20px);
	width:313px;
	z-index:2000
}
.mega-header div.header-dropdown-menu{
	max-height:calc(100vh - 74px)
}
.mega-header .sub-menu-wrap{
	position:relative
}
.mega-header div.header-dropdown-menu .sub-menu{
	display:none;
	max-width:312px;
	min-width:188px;
	padding:16px;
	position:fixed;
	width:max-content
}
.mega-header div.header-dropdown-menu .sub-menu.active{
	display:block
}
.mega-header div.header-dropdown-menu .sub-menu button{
	text-align:start
}
.mega-header div.header-dropdown-menu .horizontal-divider{
	border-top:1px solid var(--mobile-border-strong);
	margin:8px 0;
	width:100%
}
.mega-header div.header-dropdown-menu .sub-menu .horizontal-divider{
	margin-inline-start:-16px;
	width:calc(100% + 32px)
}
.mega-header div.header-dropdown-menu .nav-elem.normal.link:hover span{
	color:inherit
}
.mega-header div.header-dropdown-menu .nav-elem span{
	font:inherit
}
.mega-header div.header-dropdown-menu a,.mega-header div.header-dropdown-menu button.full-width{
	background-color:var(--mobile-page-background);
	color:var(--mobile-text-primary);
	cursor:pointer;
	font:var(--mobile-font-caption-large-regular);
	height:auto;
	padding:10px 24px;
	position:relative;
	text-align:start
}
.mega-header div.header-dropdown-menu a>*,.mega-header div.header-dropdown-menu button.full-width>*{
	z-index:1
}
.mega-header div.header-dropdown-menu a.full-width:hover:after,.mega-header div.header-dropdown-menu button.full-width:hover:after{
	background-color:var(--mobile-surface-1);
	border-radius:8px;
	content:"";
	height:100%;
	left:8px;
	position:absolute;
	top:0;
	width:calc(100% - 16px)
}
.mega-header div.header-dropdown-menu a.full-width.small-btn,.mega-header div.header-dropdown-menu button.full-width.small-btn{
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-caption-small-regular);
	height:30px
}
.mega-header .top-help-menu{
	padding:16px 0;
	width:280px
}
.mega-header .chats-wrapper .flyout-option.chats.decorated:after{
	background:var(--mobile-icon-brand);
	border-radius:200px;
	content:"";
	height:8px;
	position:absolute;
	right:0;
	top:2px;
	width:8px
}
.mega-header .chats-wrapper i.top-chats-call{
	--icon-size:12px;
	--mask-color:var(--mobile-icon-primary);
	background:var(--mobile-notification-info);
	border-radius:100%;
	bottom:-5px;
	padding:4px;
	position:absolute;
	right:-6px
}
