.sprite-it-mime,.sprite-it-mime-after:after,.sprite-it-mime-before:before{
	background:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg) no-repeat;
	background-size:100%;
	content:"";
	display:block;
	height:var(--icon-size, 24px);
	width:var(--icon-size, 24px)
}
.sprite-it-mime-after.aftereffects-after:after,.sprite-it-mime-before.aftereffects-before:before,.sprite-it-mime.aftereffects{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#aftereffects)
}
.sprite-it-mime-after.audio-after:after,.sprite-it-mime-before.audio-before:before,.sprite-it-mime.audio{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#audio)
}
.sprite-it-mime-after.cad-after:after,.sprite-it-mime-before.cad-before:before,.sprite-it-mime.cad{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#cad)
}
.sprite-it-mime-after.compressed-after:after,.sprite-it-mime-before.compressed-before:before,.sprite-it-mime.compressed{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#compressed)
}
.sprite-it-mime-after.dmg-after:after,.sprite-it-mime-before.dmg-before:before,.sprite-it-mime.dmg{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#dmg)
}
.sprite-it-mime-after.ex-drive-after:after,.sprite-it-mime-before.ex-drive-before:before,.sprite-it-mime.ex-drive{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#ex-drive)
}
.sprite-it-mime-after.excel-after:after,.sprite-it-mime-before.excel-before:before,.sprite-it-mime.excel{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#excel)
}
.sprite-it-mime-after.executable-after:after,.sprite-it-mime-before.executable-before:before,.sprite-it-mime.executable{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#executable)
}
.sprite-it-mime-after.experiencedesign-after:after,.sprite-it-mime-before.experiencedesign-before:before,.sprite-it-mime.experiencedesign{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#experiencedesign)
}
.sprite-it-mime-after.font-after:after,.sprite-it-mime-before.font-before:before,.sprite-it-mime.font{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#font)
}
.sprite-it-mime-after.generic-after:after,.sprite-it-mime-before.generic-before:before,.sprite-it-mime.generic{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#generic)
}
.sprite-it-mime-after.illustrator-after:after,.sprite-it-mime-before.illustrator-before:before,.sprite-it-mime.illustrator{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#illustrator)
}
.sprite-it-mime-after.image-after:after,.sprite-it-mime-before.image-before:before,.sprite-it-mime.image{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#image)
}
.sprite-it-mime-after.indesign-after:after,.sprite-it-mime-before.indesign-before:before,.sprite-it-mime.indesign{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#indesign)
}
.sprite-it-mime-after.keynote-after:after,.sprite-it-mime-before.keynote-before:before,.sprite-it-mime.keynote{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#keynote)
}
.sprite-it-mime-after.numbers-after:after,.sprite-it-mime-before.numbers-before:before,.sprite-it-mime.numbers{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#numbers)
}
.sprite-it-mime-after.open-office-after:after,.sprite-it-mime-before.open-office-before:before,.sprite-it-mime.open-office{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#open-office)
}
.sprite-it-mime-after.pages-after:after,.sprite-it-mime-before.pages-before:before,.sprite-it-mime.pages{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#pages)
}
.sprite-it-mime-after.pdf-after:after,.sprite-it-mime-before.pdf-before:before,.sprite-it-mime.pdf{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#pdf)
}
.sprite-it-mime-after.photoshop-after:after,.sprite-it-mime-before.photoshop-before:before,.sprite-it-mime.photoshop{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#photoshop)
}
.sprite-it-mime-after.powerpoint-after:after,.sprite-it-mime-before.powerpoint-before:before,.sprite-it-mime.powerpoint{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#powerpoint)
}
.sprite-it-mime-after.premiere-after:after,.sprite-it-mime-before.premiere-before:before,.sprite-it-mime.premiere{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#premiere)
}
.sprite-it-mime-after.raw-after:after,.sprite-it-mime-before.raw-before:before,.sprite-it-mime.raw{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#raw)
}
.sprite-it-mime-after.sketch-after:after,.sprite-it-mime-before.sketch-before:before,.sprite-it-mime.sketch{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#sketch)
}
.sprite-it-mime-after.spreadsheet-after:after,.sprite-it-mime-before.spreadsheet-before:before,.sprite-it-mime.spreadsheet{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#spreadsheet)
}
.sprite-it-mime-after.text-after:after,.sprite-it-mime-before.text-before:before,.sprite-it-mime.text{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#text)
}
.sprite-it-mime-after.threed-after:after,.sprite-it-mime-before.threed-before:before,.sprite-it-mime.threed{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#threed)
}
.sprite-it-mime-after.torrent-after:after,.sprite-it-mime-before.torrent-before:before,.sprite-it-mime.torrent{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#torrent)
}
.sprite-it-mime-after.url-after:after,.sprite-it-mime-before.url-before:before,.sprite-it-mime.url{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#url)
}
.sprite-it-mime-after.vector-after:after,.sprite-it-mime-before.vector-before:before,.sprite-it-mime.vector{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#vector)
}
.sprite-it-mime-after.video-after:after,.sprite-it-mime-before.video-before:before,.sprite-it-mime.video{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#video)
}
.sprite-it-mime-after.web-data-after:after,.sprite-it-mime-before.web-data-before:before,.sprite-it-mime.web-data{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#web-data)
}
.sprite-it-mime-after.web-lang-after:after,.sprite-it-mime-before.web-lang-before:before,.sprite-it-mime.web-lang{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#web-lang)
}
.sprite-it-mime-after.word-after:after,.sprite-it-mime-before.word-before:before,.sprite-it-mime.word{
	background-image:url(../imagery/js-ui-transfer-sprites-it-mime-uni.7711cbe4803f3ec.svg#word)
}

