
.bottom-page .cookie-policy{
	margin:auto;
	max-width:880px;
	padding:50px 20%
}
.bottom-page .cookie-policy h1{
	color:var(--color-heading);
	font:var(--text-h2-pricing);
	text-align:center
}
.bottom-page .cookie-policy h2{
	color:var(--color-heading);
	font:var(--text-h6-pricing);
	padding-top:20px
}
.bottom-page .cookie-policy li,.bottom-page .cookie-policy p{
	color:var(--color-primary);

	font:var(--text-copy-medium-pricing)
}
.bottom-page .cookie-policy .cookiesdialog,.bottom-page .cookie-policy a{
	color:var(--color-secondary-cobalt-600);
	cursor:pointer;
	text-decoration:underline
}
.mobile .bottom-page ul{
	padding-left:18px
}
.mobile .bottom-page li{
	list-style-type:disc
}
