.psa-holder .anouncement{
	--icon-size:24px;
	background:linear-gradient(180deg, #fff 0, #eee);
	border-top:1px solid rgba(0, 0, 0, .05);
	bottom:0;
	box-sizing:border-box;
	display:flex;
	padding:24px;
	position:fixed;
	width:100%;
	z-index:1400
}
.theme-dark .psa-holder .anouncement{
	background:linear-gradient(180deg, #3c3c3c 0, #333)
}
.psa-holder .anouncement .content-box{
	align-items:flex-start;
	display:flex;
	flex-direction:column;
	margin:auto;
	margin-inline-start:0;
	padding:0 24px
}
.psa-holder .anouncement .content-box>*{
	margin-top:8px
}
.psa-holder .anouncement .content-box>:empty,.psa-holder .anouncement .content-box>:first-child{
	margin-top:0
}
.psa-holder .anouncement .title-text{
	color:var(--text-color-high);
	font:var(--text-h3);
	width:100%
}
.psa-holder .anouncement .message-text{
	color:var(--text-color-medium);
	font:var(--text-body1)
}
.psa-holder .anouncement img{
	height:128px;
	margin-inline-start:auto;
	width:128px
}
.psa-holder .anouncement .content-box .mega-button{
	margin-top:16px
}
.psa-holder .anouncement .mega-button.icon{
	margin:0
}
.mobile .psa-holder{
	grid-row:5 /  6
}
.mobile .psa-holder .anouncement .content-box{
	flex-flow:row wrap;
	margin:unset;
	padding:0 8px
}
.mobile .psa-holder .anouncement .message-text{
	font:var(--mobile-font-caption-large-regular);
	padding-inline-end:8px
}
.mobile .psa-holder .anouncement .action-link span{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-link-small-bold);
	text-decoration:underline
}
.mobile .psa-holder .anouncement .mega-button.icon{
	--mask-color:var(--mobile-text-primary)
}
.mobile .psa-holder .mega-component.banner{
	padding:16px
}
.mobile .psa-holder .mega-component.banner .content-box>*{
	margin-top:4px
}
.mobile .psa-holder .anouncement .banner.title-text{
	font:var(--mobile-font-copy-bold)
}
.mobile .psa-holder .anouncement img{
	height:64px;
	width:64px
}
.psa-notification .mega-component.banner.advertisement{
	display:none
}
