.media-viewer .viewer-bars{
	align-items:center;
	background:var(--surface-grey-2);
	border:solid var(--stroke-black);
	border-width:0 0 2px;
	box-sizing:border-box;
	display:flex;
	font-size:0;
	line-height:0;
	padding:6px 16px;
	transition:var(--transition-all)
}
.media-viewer .bar{
	display:flex;
	flex:0 0 48px;
	flex-grow:1;
	justify-content:flex-start;
	list-style:none;
	margin:0;
	padding:8px 0
}
.media-viewer .bar.control,.media-viewer .bar:last-child{
	justify-content:flex-end
}
.media-viewer .bar>li{
	align-items:center;
	display:inline-flex;
	position:relative
}
.media-viewer button{
	--mask-color:var(--icon-rest);
	appearance:none;
	background:transparent;
	border:0;
	cursor:pointer;
	outline:none
}
.media-viewer button.active,.media-viewer button:hover{
	--mask-color:var(--icon-active)
}
.media-viewer button.mask-color-brand{
	--mask-color:#dd1405
}
.media-viewer button.mask-color-grey-out{
	--mask-color:#535b65
}
.media-viewer button.v-btn{
	border-radius:100%;
	margin:6px 12px;
	padding:0
}
.media-viewer button.v-btn.active{
	background:var(--surface-grey-1)
}
.media-viewer .video-controls button.v-btn.active{
	background:transparent
}
.media-viewer button.v-btn.browserscreen{
	display:none
}
.media-viewer button.v-btn i{
	--icon-size:24px;
	display:block;
	transition:var(--transition-bg-color)
}
.media-viewer button.v-btn i.icon-size-36{
	--icon-size:36px
}
.context-menu li button.mask-color-error,.context-menu li button.mask-color-error:hover{
	--mask-color:var(--text-color-error)
}
.color-error{
	color:var(--text-color-error)
}
.video-controls .context-menu{
	bottom:58px;
	height:auto;
	left:auto;
	padding:8px;
	position:absolute;
	top:auto
}
.video-controls .context-menu.playback-speed{
	left:-60px;
	width:139px
}
.video-controls .context-menu.subtitles{
	padding:8px 2px 8px 8px;
	width:241px
}
.video-controls .bar li .context-menu li{
	margin:0;
	padding:0
}
.video-controls .context-menu.subtitles .options{
	max-height:288px
}
.video-controls .context-menu.subtitles .options-wrapper{
	width:217px
}
.video-controls .context-menu .title{
	border-radius:4px;
	color:var(--text-color-medium);
	font-size:12px;
	font-style:normal;
	font-weight:400;
	text-align:start
}
.video-controls .context-menu.playback-speed .title{
	line-height:20px;
	padding:0 4px
}
.video-controls .context-menu.subtitles .title{
	line-height:24px;
	padding:4px 8px
}
.video-controls .context-menu.playback-speed li button{
	padding:4px
}
.video-controls .context-menu.subtitles li button{
	padding:4px 8px
}
.video-controls .context-menu li button span{
	font-size:14px;
	font-style:normal;
	font-weight:400;
	line-height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.video-controls .context-menu li button i{
	--icon-size:16px;
	--mask-color:var(--icon-active);
	background:linear-gradient(#3ed8b2, #1db07b);
	border-radius:100%
}
.video-controls .context-menu.settings{
	width:250px
}
.video-controls .context-menu .settings-wrapper{
	align-items:center;
	display:flex;
	flex-direction:column;
	padding:12px 0 8px
}
.video-controls .context-menu .settings-wrapper span{
	align-items:flex-start;
	align-self:stretch;
	color:var(--text-color-white-medium);
	display:flex;
	flex-direction:column;
	font-size:14px;
	font-style:normal;
	font-weight:400;
	justify-content:center;
	line-height:20px;
	padding:4px 0
}
.video-controls .context-menu .settings-range{
	align-items:center;
	align-self:stretch;
	display:flex;
	height:20px;
	justify-content:center;
	padding:0 4px
}
.video-controls .context-menu .settings-range span{
	color:var(--text-color-high);
	width:auto
}
.video-controls .settings-bar{
	background:var(--progress-bar-background);
	border-radius:4px;
	cursor:pointer;
	flex:1 0 0;
	height:8px;
	margin:0 8px;
	position:relative
}
.video-controls .context-menu .settings-bar span{
	background:var(--text-color-high);
	border-radius:inherit;
	bottom:0;
	height:100%;
	left:0;
	padding:0;
	position:absolute;
	width:50%
}
.video-controls .settings-bar span:before{
	background:var(--text-color-high);
	border-radius:100%;
	box-shadow:0 1px 2px rgba(0, 0, 0, .1);
	content:"";
	height:16px;
	left:calc(100% - 8px);
	position:absolute;
	top:-4px;
	width:16px
}
.settings-range .value{
	background-color:var(--surface-black-bar);
	border-radius:4px;
	color:var(--text-color-high);
	display:none;
	font:var(--text-body2);
	left:84px;
	min-width:12px;
	padding:0 4px;
	position:absolute;
	top:20px;
	transform:translateX(70%)
}
.video-controls .settings-bar:hover+.value{
	display:block
}
.video-controls .context-menu .reset-all{
	color:var(--text-color-high);
	float:right;
	width:auto
}
.video-controls .context-menu .reset-all:hover{
	background:var(--surface-main)
}
.invisible{
	visibility:hidden
}
.video .media-viewer video{
	background:var(--surface-black);
	background-position:50%;
	background-repeat:no-repeat;
	background-size:contain;
	max-height:100%;
	max-width:100%;
	min-height:70%
}
.video.vad .media-viewer video{
	background-position-x:100vw
}
.video-theatre-mode .media-viewer video{
	height:100%;
	width:100%
}
.media-viewer .play-video-button{
	--mask-color:var(--text-color-black-high);
	background:var(--text-color-white-high);
	border:5px solid hsla(0, 0%, 88.2%, .5);
	border-radius:100%;
	cursor:pointer;
	left:calc(50% - 65px);
	padding:36px;
	position:fixed;
	top:calc(50% - 65px);
	z-index:10
}
.download .media-viewer .play-video-button{
	position:absolute
}
.media-viewer .play-video-button:hover{
	transform:scale(1.1)
}
.media-viewer .play-video-button i{
	--icon-size:48px;
	display:block
}
.media-viewer .play-pause-video-button{
	--mask-color:#ccc;
	animation:top-fade-in 1s;
	background:var(--surface-black);
	border-radius:100%;
	cursor:pointer;
	left:calc(50% - 35px);
	padding:20px;
	position:absolute;
	top:calc(50% - 35px);
	z-index:10
}
.media-viewer .play-pause-video-button i{
	--icon-size:32px;
	display:block
}
.loader-grad:not(.hidden)~.play-pause-video-button,.loader-grad:not(.hidden)~.play-video-button,.media-viewer .viewer-vad-info,.video.vad .media-viewer .play-pause-video-button{
	display:none
}
.media-viewer .watch-again-button{
	--mask-color:var(--text-color-high);
	align-items:center;
	background:var(--button-hover);
	border-radius:4px;
	cursor:pointer;
	display:inline-flex;
	left:calc(50% - 60px);
	padding:8px 12px;
	position:fixed;
	top:calc(50% - 20px);
	z-index:10
}
.media-viewer .watch-again-button i{
	--icon-size:24px
}
.media-viewer .watch-again-button span{
	color:var(--text-color-high);
	font-size:14px;
	font-style:normal;
	font-weight:600;
	line-height:20px;
	margin-left:8px
}
.media-viewer .bouncing-loader.viewer-pending{
	position:fixed
}
.media-viewer .loader-grad{
	--mask-color:var(--text-color-high);
	animation:rotate 1s linear infinite;
	border-radius:100%;
	cursor:pointer;
	left:calc(50% - 50px);
	position:fixed;
	top:calc(50% - 50px);
	z-index:10
}
.vad.stream-overquota .loader-grad{
	display:none
}
.media-viewer .loader-grad i{
	--icon-size:102px
}
.media-viewer .loader-grad-overlay,.media-viewer .watch-again-button-overlay{
	background-color:rgba(0, 0, 0, .5);
	display:none;
	height:100%;
	position:absolute;
	width:100%;
	z-index:1
}
.media-viewer .loader-grad:not(.hidden)+.loader-grad-overlay,.media-viewer .watch-again-button:not(.hidden)+.watch-again-button-overlay,.video.vad .media-viewer .viewer-vad-info{
	display:block
}
.fullscreen .media-viewer .viewer-bars,.media-viewer .video-controls,.video-theatre-mode .media-viewer .viewer-bars{
	background:var(--surface-black-bar);
	border:0;
	position:absolute;
	width:100%;
	z-index:10
}
.media-viewer .viewer-bars.top{
	z-index:11
}
.media-viewer .video-controls{
	bottom:0;
	direction:ltr;
	padding:0
}
.media-viewer .viewer-bars.video-controls{
	flex-direction:column
}
.media-viewer .video-controls .bar{
	flex:0 0 auto;
	flex-direction:row;
	width:100%
}
.media-viewer .video-controls button.v-btn{
	margin:8px
}
.media-viewer .video-controls .bar button.v-btn.margin-2{
	margin:2px
}
.media-viewer .video-controls .bar li{
	flex:1;
	margin:0 20px
}
.media-viewer .video-controls .bar li:not(.timing){
	gap:8px
}
.media-viewer .video-controls .bar li.timing{
	justify-content:center
}
.media-viewer .video-controls .bar>:last-child{
	justify-content:right
}
.media-viewer .video-progress-block{
	align-items:center;
	display:flex;
	flex:1 1 auto;
	height:6px;
	padding:0 8px;
	width:calc(100% - 16px)
}
.media-viewer .video-progress-bar{
	background:var(--progress-bar-background);
	border-radius:3px;
	cursor:pointer;
	height:2px;
	position:relative;
	text-align:left;
	transition:var(--transition-height);
	width:100%
}
.video-progress-block:hover .video-progress-bar{
	height:100%
}
.media-viewer .video-buffer-bar,.media-viewer .video-time-bar{
	background:var(--progress-bar-fill2);
	border-radius:inherit;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:0
}
.media-viewer .video-buffer-bar{
	background:var(--progress-bar-background)
}
.media-viewer .video-progress-block:hover .video-time-bar:before{
	background:var(--progress-bar-fill2);
	border-radius:100%;
	bottom:0;
	box-shadow:0 1px 2px rgba(0, 0, 0, .1);
	content:"";
	height:12px;
	margin:auto;
	position:absolute;
	right:-6px;
	top:0;
	width:12px
}
.media-viewer .video-progress-block:hover .video-expected-time-bar{
	background:var(--progress-bar-background);
	border-radius:inherit;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:0;
	z-index:-1
}
.media-viewer .video-progress-block .video-progress-time{
	background-color:var(--surface-black-bar);
	color:var(--text-color-high);
	display:none;
	font:var(--text-body2);
	padding:4px 8px;
	position:absolute;
	right:0;
	top:-28px;
	transform:translateX(50%)
}
.media-viewer li.timing>*{
	color:var(--text-color-high);
	font:var(--text-body2);
	margin:0 8px
}
.media-viewer .video-controls progress::-moz-progress-bar{
	background:var(--progress-bar-fill2)
}
.media-viewer .video-controls progress::-webkit-progress-value{
	background:var(--progress-bar-fill2)
}
.media-viewer .video-vol-range{
	border-radius:10px;
	bottom:100%;
	height:20px;
	left:40px;
	margin:0 8px;
	opacity:0;
	overflow:hidden;
	position:absolute;
	top:10px;
	transition:var(--transition-all);
	visibility:hidden;
	width:0
}
.media-viewer .vol-wrapper.audio .video-vol-range:active,.media-viewer .vol-wrapper.audio:hover .video-vol-range{
	opacity:1;
	visibility:visible;
	width:80px
}
.media-viewer .volume-bar{
	background:var(--progress-bar-background);
	border-radius:2px;
	cursor:pointer;
	height:4px;
	margin:8px;
	position:relative;
	width:64px
}
.media-viewer .volume-bar span{
	background:var(--text-color-high);
	border-radius:inherit;
	bottom:0;
	height:100%;
	left:0;
	position:absolute;
	width:100%
}
.media-viewer .video-vol-range:active .volume-bar span:before,.media-viewer .video-vol-range:hover .volume-bar span:before{
	background:var(--text-color-high);
	border-radius:100%;
	box-shadow:0 1px 2px rgba(0, 0, 0, .1);
	content:"";
	height:12px;
	left:calc(100% - 6px);
	position:absolute;
	top:-4px;
	width:12px
}
.media-viewer .wrapper{
	position:relative
}
.media-viewer .tooltip{
	gap:10px;
	background-color:var(--surface-black-bar);
	border-radius:6px;
	bottom:54px;
	color:var(--text-color-high);
	display:none;
	font:var(--text-body1);
	padding:8px 12px;
	position:absolute
}
.video:not(.vad) .media-viewer .video-progress-block:hover .video-progress-time,.video:not(.vad) .media-viewer .wrapper .v-btn:hover~.tooltip{
	display:block
}
.media-viewer .wrapper .v-btn:hover~.tooltip.no-sound{
	width:100px
}
.media-viewer li:first-child .tooltip{
	transform:translateX(-50%)
}
.media-viewer li:last-child .tooltip{
	transform:translateX(50%)
}
.media-viewer li:first-child .wrapper .tooltip{
	left:20px
}
.media-viewer li:last-child .wrapper .tooltip{
	right:20px
}
.video.vad .media-viewer .repeat-wrapper,.video.vad .media-viewer .settings-wrapper,.video.vad .media-viewer .speed-wrapper,.video.vad .media-viewer .subtitles-wrapper,.video.vad .media-viewer .vol-wrapper{
	display:none
}
.viewer-vad-control{
	--icon-size:18px;
	align-items:center;
	background:linear-gradient(180deg, hsla(0, 0%, 98%, .6), hsla(0, 0%, 94.9%, .6));
	border:2px solid rgba(0, 0, 0, .1);
	border-radius:4px;
	bottom:76px;
	color:#333;
	cursor:default;
	display:flex;
	font-size:16px;
	height:36px;
	justify-content:space-evenly;
	line-height:36px;
	min-width:90px;
	right:12px;
	white-space:nowrap
}
.viewer-vad-control,.viewer-vad-info{
	position:absolute;
	transition:var(--transition-all);
	z-index:10
}
.viewer-vad-info{
	background-color:#fff;
	border-radius:8px;
	bottom:78px;
	box-shadow:0 0 3px var(--secondary-grey);
	left:12px;
	padding:16px;
	text-align:left
}
.rtl .viewer-vad-control,.rtl .viewer-vad-info{
	direction:rtl
}
.rtl .viewer-vad-info button{
	float:right
}
.viewer-vad-info .vad-info-title{
	align-items:center;
	color:#000;
	display:flex;
	flex-direction:row;
	font:var(--text-h3-bold)
}
.viewer-vad-info .vad-info-title p{
	margin:0;
	padding:0 8px
}
.viewer-vad-info .vad-info-txt{
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	line-clamp:3;
	color:#333;
	display:-webkit-box;
	font:var(--text-body2);
	margin:8px 0 14px;
	max-width:314px;
	overflow:hidden
}
.viewer-vad-control.skip{
	background:linear-gradient(180deg, #fafafa, #f2f2f2);
	cursor:pointer
}
.media-viewer.video-paused .viewer-vad-control:not(.skip){
	display:none
}
.video-progress-bar.vad{
	background:var(--surface-black-bar);
	border-radius:0;
	bottom:0;
	height:4px;
	left:0;
	opacity:0;
	position:absolute;
	transition:var(--transition-all);
	visibility:hidden;
	width:100%;
	z-index:10
}
.vad .video-buffer-bar,.vad .video-time-bar{
	background:var(--progress-bar-fill3)
}
.vad .video-progress-block:hover .video-progress-bar{
	cursor:default;
	height:2px;
	margin-top:2px
}
.vad .video-time-bar:before{
	display:none
}
.video-subtitles{
	background-color:var(--surface-black-bar);
	bottom:72px;
	color:var(--text-color-high);
	display:block;
	font-size:24px;
	font-style:normal;
	font-weight:400;
	line-height:30px;
	position:absolute;
	text-align:center;
	z-index:10
}
.border-top{
	border-top:1px solid var(--surface-grey-2)
}
.border-bottom{
	border-bottom:1px solid var(--surface-grey-2)
}
.add-subtitles-dialog .files-grid-view{
	border-top:none;
	overflow:visible
}
.counter-location{
	border-bottom:1px solid var(--surface-grey-2);
	margin-top:0;
	padding-bottom:1rem
}
.subtitles-counter{
	background:linear-gradient(180deg, #555, #444);
	border-radius:12px;
	color:var(--text-color-higher);
	display:inline-block;
	font-size:14px;
	line-height:20px;
	padding:2px 12px
}
.subtitles-grid-table{
	background:no-repeat center 36px linear-gradient(90deg, var(--stroke-grey-2), var(--stroke-grey-2));
	background-size:100% 1px;
	height:300px
}
.subtitles-grid-table .grid-table th:after,.subtitles-grid-table .grid-table th:before,.subtitles-grid-table .grid-table thead th:hover:after,.subtitles-grid-table .grid-table thead th:hover:before{
	display:none
}
.subtitles-grid-table .grid-table th:first-child:after,.subtitles-grid-table .grid-table th:last-child:before{
	display:block
}
.subtitles-grid-table .grid-table th{
	padding-top:17px
}
.subtitles-grid-table table.grid-table th:first-child{
	padding:0;
	padding-inline-start:0;
	width:0
}
.subtitles-grid-table table th[megatype=fname]{
	width:208px
}
.subtitles-grid-table table th[megatype=size]{
	width:78px
}
.subtitles-grid-table table th[megatype=timeAd]{
	width:129px
}
.subtitles-grid-table table th[megatype=location]{
	width:107px
}
.subtitles-grid-table table td{
	box-sizing:border-box;
	color:var(--text-color-medium);
	font:var(--text-body2);
	height:32px;
	line-height:31px;
	text-align:start;
	white-space:nowrap;
	z-index:0
}
.subtitles-grid-table table td[megatype=location] span{
	text-decoration:underline
}
.subtitles-grid-table table tbody:before{
	color:transparent;
	content:"-";
	display:block;
	line-height:8px
}
.dark-direct-tooltip.breadcrumb-tip{
	background:var(--surface-grey-1);
	color:var(--text-color-higher)
}
.dark-direct-tooltip.breadcrumb-tip i.tooltip-arrow{
	--mask-color:var(--surface-grey-1)
}
.dark-direct-tooltip.breadcrumb-tip .fm-breadcrumbs-wrapper{
	height:20px;
	margin-top:0;
	padding-inline-start:0
}
.dark-direct-tooltip.breadcrumb-tip .fm-breadcrumbs-block:not(.hidden){
	padding-inline-end:0
}
.dark-direct-tooltip.simpletip-tooltip .fm-breadcrumbs-wrapper i{
	--icon-size:16px
}
.empty-subtitles{
	align-items:center;
	display:flex;
	flex-direction:column;
	height:300px;
	text-align:center
}
.empty-subtitles-wrapper{
	margin:auto
}
.empty-subtitles-icon{
	--icon-size:104px;
	--mask-color:var(--secondary-grey);
	display:inline-block
}
.empty-subtitles-txt{
	font-size:16px;
	font-weight:600;
	line-height:24px;
	margin-top:12px
}
.height-84{
	height:84px
}
@media (max-width:420px){
.media-viewer .bar.control,.media-viewer .bar:last-child{
	transform:scale(.8)
}
.media-viewer .bar{
	padding:revert
}
}
