a,a:active,a:focus,a:hover,a:link,a:visited{
	outline:none
}
.link,a.link,a.link:visited{
	color:var(--main-neutral-secondary);
	cursor:pointer;
	text-decoration:underline
}
.link.primary,a.link.primary{
	color:var(--main-primary)
}
.link.n-primary,a.link.n-primary{
	color:var(--main-neutral-primary)
}
.link.sm-size,a.link.sm-size{
	font:var(--text-body-sm)
}
.link.sm-size.bold,a.link.sm-size.bold{
	font:700 var(--text-body-sm)
}
.link:focus,a.link:focus{
	text-decoration:none
}
@media (hover:hover){
.link:hover,a.link:hover{
	text-decoration:none
}
}
label.link span{
	text-decoration:underline
}
label.link input:focus+span{
	text-decoration:none
}
@media (hover:hover){
label.link:hover span{
	text-decoration:none
}
}
