@font-face{
	font-display:block;
	font-family:it-x24-mono;
	src:url(../imagery/js-ui-transfer-sprites-it-x24-mono.24e4027af5f44b9a.woff2?h=151605f55) format("woff2"),
    url(../imagery/js-ui-transfer-sprites-it-x24-mono.3c4cc18ce54577e7.woff?h=151605f55) format("woff"),
    url(../imagery/js-ui-transfer-sprites-it-x24-mono.417562ed64c9608b.ttf?h=151605f55) format("truetype"), 
    url(../imagery/js-ui-transfer-sprites-it-x24-mono.993d962f07db8f0a.svg?h=151605f55#it-x24-mono) format("svg")
}
.sprite-it-x24-mono,.sprite-it-x24-mono-after{
	height:var(--icon-size, 16px);
	width:var(--icon-size, 16px)
}
.sprite-it-x24-mono-after:after,.sprite-it-x24-mono:before{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:var(--mask-color);
	display:inline-block;
	font-family:it-x24-mono !important;
	font-size:var(--icon-size, 16px);
	font-style:normal;
	font-variant:normal;
	height:100%;
	line-height:1;
	text-rendering:auto;
	transition:inherit;
	vertical-align:top;
	width:100%
}
.sprite-it-x24-mono-after.icon-add-file-after:after,.sprite-it-x24-mono.icon-add-file:before{
	content:"\f26e"
}
.sprite-it-x24-mono-after.icon-add-folder-after:after,.sprite-it-x24-mono.icon-add-folder:before{
	content:"\f26f"
}
.sprite-it-x24-mono-after.icon-arrow-big-left-after:after,.sprite-it-x24-mono.icon-arrow-big-left:before{
	content:"\f270"
}
.sprite-it-x24-mono-after.icon-arrow-big-right-after:after,.sprite-it-x24-mono.icon-arrow-big-right:before{
	content:"\f271"
}
.sprite-it-x24-mono-after.icon-arrow-small-down-after:after,.sprite-it-x24-mono.icon-arrow-small-down:before{
	content:"\f272"
}
.sprite-it-x24-mono-after.icon-arrow-up-circle-after:after,.sprite-it-x24-mono.icon-arrow-up-circle:before{
	content:"\f273"
}
.sprite-it-x24-mono-after.icon-arrow-up-right-square-after:after,.sprite-it-x24-mono.icon-arrow-up-right-square:before{
	content:"\f274"
}
.sprite-it-x24-mono-after.icon-bell-after:after,.sprite-it-x24-mono.icon-bell:before{
	content:"\f275"
}
.sprite-it-x24-mono-after.icon-calendar-after:after,.sprite-it-x24-mono.icon-calendar:before{
	content:"\f276"
}
.sprite-it-x24-mono-after.icon-chain-after:after,.sprite-it-x24-mono.icon-chain:before{
	content:"\f277"
}
.sprite-it-x24-mono-after.icon-check-circle-solid-after:after,.sprite-it-x24-mono.icon-check-circle-solid:before{
	content:"\f278"
}
.sprite-it-x24-mono-after.icon-check-circle-after:after,.sprite-it-x24-mono.icon-check-circle:before{
	content:"\f279"
}
.sprite-it-x24-mono-after.icon-check-after:after,.sprite-it-x24-mono.icon-check:before{
	content:"\f27a"
}
.sprite-it-x24-mono-after.icon-chevron-down-after:after,.sprite-it-x24-mono.icon-chevron-down:before{
	content:"\f27b"
}
.sprite-it-x24-mono-after.icon-chevron-left-after:after,.sprite-it-x24-mono.icon-chevron-left:before{
	content:"\f27c"
}
.sprite-it-x24-mono-after.icon-chevron-right-after:after,.sprite-it-x24-mono.icon-chevron-right:before{
	content:"\f27d"
}
.sprite-it-x24-mono-after.icon-chevron-up-after:after,.sprite-it-x24-mono.icon-chevron-up:before{
	content:"\f27e"
}
.sprite-it-x24-mono-after.icon-circles-after:after,.sprite-it-x24-mono.icon-circles:before{
	content:"\f27f"
}
.sprite-it-x24-mono-after.icon-close-circle-solid-after:after,.sprite-it-x24-mono.icon-close-circle-solid:before{
	content:"\f280"
}
.sprite-it-x24-mono-after.icon-close-circle-after:after,.sprite-it-x24-mono.icon-close-circle:before{
	content:"\f281"
}
.sprite-it-x24-mono-after.icon-close-after:after,.sprite-it-x24-mono.icon-close:before{
	content:"\f282"
}
.sprite-it-x24-mono-after.icon-copy-after:after,.sprite-it-x24-mono.icon-copy:before{
	content:"\f283"
}
.sprite-it-x24-mono-after.icon-edit-after:after,.sprite-it-x24-mono.icon-edit:before{
	content:"\f284"
}
.sprite-it-x24-mono-after.icon-email-after:after,.sprite-it-x24-mono.icon-email:before{
	content:"\f285"
}
.sprite-it-x24-mono-after.icon-eraser-after:after,.sprite-it-x24-mono.icon-eraser:before{
	content:"\f286"
}
.sprite-it-x24-mono-after.icon-eye-off-after:after,.sprite-it-x24-mono.icon-eye-off:before{
	content:"\f287"
}
.sprite-it-x24-mono-after.icon-eye-after:after,.sprite-it-x24-mono.icon-eye:before{
	content:"\f288"
}
.sprite-it-x24-mono-after.icon-face-neutral-after:after,.sprite-it-x24-mono.icon-face-neutral:before{
	content:"\f289"
}
.sprite-it-x24-mono-after.icon-face-sad-after:after,.sprite-it-x24-mono.icon-face-sad:before{
	content:"\f28a"
}
.sprite-it-x24-mono-after.icon-facebook-after:after,.sprite-it-x24-mono.icon-facebook:before{
	content:"\f28b"
}
.sprite-it-x24-mono-after.icon-globe-after:after,.sprite-it-x24-mono.icon-globe:before{
	content:"\f28c"
}
.sprite-it-x24-mono-after.icon-info-after:after,.sprite-it-x24-mono.icon-info:before{
	content:"\f28d"
}
.sprite-it-x24-mono-after.icon-laptop-after:after,.sprite-it-x24-mono.icon-laptop:before{
	content:"\f28e"
}
.sprite-it-x24-mono-after.icon-lock-open-after:after,.sprite-it-x24-mono.icon-lock-open:before{
	content:"\f28f"
}
.sprite-it-x24-mono-after.icon-lock-after:after,.sprite-it-x24-mono.icon-lock:before{
	content:"\f290"
}
.sprite-it-x24-mono-after.icon-mega-circle-after:after,.sprite-it-x24-mono.icon-mega-circle:before{
	content:"\f291"
}
.sprite-it-x24-mono-after.icon-mega-after:after,.sprite-it-x24-mono.icon-mega:before{
	content:"\f292"
}
.sprite-it-x24-mono-after.icon-menu-after:after,.sprite-it-x24-mono.icon-menu:before{
	content:"\f293"
}
.sprite-it-x24-mono-after.icon-moon-after:after,.sprite-it-x24-mono.icon-moon:before{
	content:"\f294"
}
.sprite-it-x24-mono-after.icon-more-horizontal-after:after,.sprite-it-x24-mono.icon-more-horizontal:before{
	content:"\f295"
}
.sprite-it-x24-mono-after.icon-pause-after:after,.sprite-it-x24-mono.icon-pause:before{
	content:"\f296"
}
.sprite-it-x24-mono-after.icon-play-after:after,.sprite-it-x24-mono.icon-play:before{
	content:"\f297"
}
.sprite-it-x24-mono-after.icon-plus-circle-solid-after:after,.sprite-it-x24-mono.icon-plus-circle-solid:before{
	content:"\f298"
}
.sprite-it-x24-mono-after.icon-reddit-after:after,.sprite-it-x24-mono.icon-reddit:before{
	content:"\f299"
}
.sprite-it-x24-mono-after.icon-schedule-after:after,.sprite-it-x24-mono.icon-schedule:before{
	content:"\f29a"
}
.sprite-it-x24-mono-after.icon-search-after:after,.sprite-it-x24-mono.icon-search:before{
	content:"\f29b"
}
.sprite-it-x24-mono-after.icon-settings-after:after,.sprite-it-x24-mono.icon-settings:before{
	content:"\f29c"
}
.sprite-it-x24-mono-after.icon-small-down-after:after,.sprite-it-x24-mono.icon-small-down:before{
	content:"\f29d"
}
.sprite-it-x24-mono-after.icon-star-after:after,.sprite-it-x24-mono.icon-star:before{
	content:"\f29e"
}
.sprite-it-x24-mono-after.icon-sun-after:after,.sprite-it-x24-mono.icon-sun:before{
	content:"\f29f"
}
.sprite-it-x24-mono-after.icon-trash-can-after:after,.sprite-it-x24-mono.icon-trash-can:before{
	content:"\f2a0"
}
.sprite-it-x24-mono-after.icon-trophy-after:after,.sprite-it-x24-mono.icon-trophy:before{
	content:"\f2a1"
}
.sprite-it-x24-mono-after.icon-view-grid-filled-after:after,.sprite-it-x24-mono.icon-view-grid-filled:before{
	content:"\f2a2"
}
.sprite-it-x24-mono-after.icon-view-grid-after:after,.sprite-it-x24-mono.icon-view-grid:before{
	content:"\f2a3"
}
.sprite-it-x24-mono-after.icon-view-list-filled-after:after,.sprite-it-x24-mono.icon-view-list-filled:before{
	content:"\f2a4"
}
.sprite-it-x24-mono-after.icon-view-list-after:after,.sprite-it-x24-mono.icon-view-list:before{
	content:"\f2a5"
}
.sprite-it-x24-mono-after.icon-warning-triangle-after:after,.sprite-it-x24-mono.icon-warning-triangle:before{
	content:"\f2a6"
}
.sprite-it-x24-mono-after.icon-x-after:after,.sprite-it-x24-mono.icon-x:before{
	content:"\f2a7"
}