
.lp-header{
	align-items:center;
	display:flex;
	padding:14px 20px 14px 12px
}
.lp-header span{
	color:var(--text-color-higher);
	flex:1 1 auto;
	font:var(--text-h2);
	overflow:hidden;
	padding:3px 0;
	text-overflow:ellipsis
}
.fm-main .lp-header span.mega-lite-text{
	display:none
}
.mega-lite-mode .fm-main .lp-header .mega-lite-text{
	display:inline
}
.mega-lite-mode .fm-main .lp-header .drive-text{
	display:none
}
.lp-content-wrap{
	padding:0 8px
}
.lp-gallery,.lp-myfiles{
	background:var(--surface-grey-2);
	display:flex;
	flex-direction:column;
	height:100%;
	min-height:280px;
	overflow:hidden
}
.fm-left-panel .content-area{
	border-top:2px solid transparent;
	box-sizing:border-box;
	flex-grow:1;
	overflow:hidden;
	position:relative;
	transition:border-top .25s ease-in-out
}
.rtl .lp-myfiles .content-area{
	direction:ltr
}
.rtl .lp-myfiles .content-area .lp-content-wrap{
	direction:rtl
}
.rtl .lp-gallery .content-area{
	direction:ltr
}
.rtl .lp-gallery .content-area .lp-content-wrap-wrap{
	direction:rtl
}
.lp-gallery .content-area .lp-content-wrap-wrap{
	display:inline-block
}
.lp-myfiles .content-area.ps--active-y:hover{
	border-top:2px solid var(--stroke-main)
}
.fm-other-tree-panel .section-title{
	display:none
}
.active-folder-link .section-title,.lp-gallery .section-title,.lp-myfiles .section-title{
	color:var(--text-color-medium);
	display:inline-block;
	font:var(--text-body2);
	height:18px;
	letter-spacing:0;
	margin:0 4px 4px;
	opacity:.7
}
.lp-gallery .library-panel,.lp-myfiles .cloud-drive-panel{
	padding-top:4px
}
.active-folder-link .lp-content-wrap{
	padding-top:6px
}
.active-folder-link .js-other-tree-panel .ps__rail-y{
	margin-top:64px
}
.lp-myfiles .cloud-drive-panel{
	box-sizing:border-box;
	display:inline-block;
	min-width:100%
}
.lp-myfiles .ps--active-y .cloud-drive-panel{
	padding-inline-end:16px
}
.lp-myfiles .content-panel.s4{
	display:block
}
.lp-myfiles .content-panel.cloud-drive.collapse,.lp-myfiles .content-panel.s4.collapse{
	display:none
}
.lp-myfiles .btn-myfiles{
	padding-inline-start:24px
}
.lp-myfiles .btn-myfiles i.icon-dropdown{
	left:2px;
	margin-top:4px;
	position:absolute
}
.rtl .lp-myfiles .btn-myfiles i.icon-dropdown{
	left:auto;
	right:2px
}
.lp-myfiles .btn-myfiles.collapse i.icon-dropdown{
	transform:rotate(270deg)
}
.rtl .lp-myfiles .btn-myfiles.collapse i.icon-dropdown{
	transform:rotate(90deg)
}
.mega-lite-mode .lp-myfiles .btn-myfiles.faves,.mega-lite-mode .lp-myfiles .btn-myfiles.recents{
	display:none
}
.lp-myfiles .shared-panel{
	padding-bottom:16px;
	padding-top:8px
}
.fm-tree-panel li{
	margin:1px 0
}
.nw-fm-tree-item.selected{
	background-color:var(--stroke-grey-1);
	border-radius:4px;
	color:var(--stroke-main-inverted)
}
.nw-fm-tree-item.hovered,.nw-fm-tree-item:hover{
	background-color:var(--stroke-grey-1);
	border-radius:4px;
	cursor:pointer
}
.nw-fm-tree-item.dragover .nw-fm-tree-folder,.nw-fm-tree-item:hover .nw-fm-tree-folder{
	color:var(--stroke-link-inverted)
}
.nw-fm-tree-item.selected .nw-fm-tree-arrow,.nw-fm-tree-item.selected .nw-fm-tree-folder,.nw-fm-tree-item.selected .nw-fm-tree-icon-wrap{
	--mask-color:var(--stroke-main-inverted);
	color:var(--stroke-main-inverted)
}
.nw-fm-tree-item .nw-fm-tree-arrow{
	--mask-color:var(--icon-rest);
	display:none;
	margin-inline-start:24px;
	position:absolute;
	top:8px
}
.nw-fm-tree-item.contains-folders .nw-fm-tree-arrow{
	display:block
}
.nw-fm-tree-item.contains-folders.expanded .nw-fm-tree-arrow{
	background-image:none;
	transform:rotate(90deg)
}
.rtl .nw-fm-tree-item.contains-folders.expanded .nw-fm-tree-arrow{
	transform:rotate(270deg)
}
.fontsize1 .nw-fm-tree-folder{
	font:var(--text-body1);
	line-height:24px
}
.nw-fm-tree-item .file-status-ico{
	display:none
}
.tree-item-dragger{
	display:flex
}
.tree-item-dragger .nw-fm-tree-folder{
	margin:0;
	width:auto
}
.tree-item-dragger span.sprite-fm-mono{
	background-color:var(--stroke-grey-2)
}
.tree-item-dragger span.item-name{
	line-height:24px;
	margin-inline-start:5px;
	max-width:160px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.nw-fm-tree-item.linked .file-status-ico{
	--mask-color:var(--icon-rest);
	display:inline-block;
	vertical-align:middle;
	z-index:98
}
.nw-fm-tree-item .gallery-status-icon{
	--mask-color:var(--secondary-blue);
	--icon-size:24px;
	display:none;
	vertical-align:middle;
	z-index:98
}
.nw-fm-tree-item.on-gallery .gallery-status-icon{
	display:inline-block;
	vertical-align:middle
}
.nw-fm-tree-item.linked.on-gallery .gallery-status-icon{
	right:43px
}
.rtl .nw-fm-tree-item.linked .file-status-ico,.rtl .nw-fm-tree-item.on-gallery .gallery-status-icon{
	left:21px;
	right:auto
}
.rtl .nw-fm-tree-item.linked.on-gallery .gallery-status-icon{
	left:26px
}
.nw-fm-tree-item .sprite-fm-mono.icon-takedown{
	background-color:var(--secondary-red);
	display:inline;
	position:absolute;
	right:21px;
	z-index:98
}
.rtl .nw-fm-tree-item .sprite-fm-mono.icon-takedown{
	left:21px;
	right:auto
}
.nw-fm-tree-item .sprite-fm-mono.icon-info{
	background-color:var(--secondary-orange);
	display:inline;
	position:absolute;
	right:21px;
	top:4px;
	z-index:98
}
.nw-fm-tree-folder{
	width:100%
}
.active-folder-link .nw-fm-tree-iconwrap,.lp-myfiles .nw-fm-tree-iconwrap{
	background:var(--surface-tree-iconwrap);
	display:inline-block;
	padding:0 16px 0 4px;
	position:sticky;
	position:-webkit-sticky;
	right:-1px;
	vertical-align:middle
}
.active-folder-link .fm-other-tree-panel .nw-fm-tree-item.hovered .nw-fm-tree-iconwrap,.active-folder-link .fm-other-tree-panel .nw-fm-tree-item.selected .nw-fm-tree-iconwrap,.active-folder-link .fm-other-tree-panel .nw-fm-tree-item:hover .nw-fm-tree-iconwrap,.lp-myfiles .nw-fm-tree-item.hovered .nw-fm-tree-iconwrap,.lp-myfiles .nw-fm-tree-item.selected .nw-fm-tree-iconwrap,.lp-myfiles .nw-fm-tree-item:hover .nw-fm-tree-iconwrap{
	background:var(--surface-tree-iconwrap-active)
}
.active-folder-link .fm-other-tree-panel .cloud-drive .lp-header{
	background:var(--surface-grey-2);
	position:sticky;
	position:-webkit-sticky;
	top:0;
	z-index:100
}
.active-folder-link .fm-other-tree-panel .cloud-drive .lp-header>span{
	flex-grow:0;
	left:12px;
	position:sticky;
	position:-webkit-sticky
}
.rtl .active-folder-link .fm-other-tree-panel .cloud-drive .lp-header>span{
	left:auto;
	right:12px
}
.active-folder-link .fm-other-tree-panel .content-panel.active.cloud-drive{
	display:inline-block;
	min-width:100%
}
.file-status-ico:before,.nw-fm-tree-arrow:before,.nw-fm-tree-folder:before,.nw-fm-tree-icon-wrap:before{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	--icon-size:24px;
	color:var(--mask-color);
	display:inline-block;
	font-family:fm-mono !important;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	line-height:1;
	text-rendering:auto;
	vertical-align:top
}
.nw-fm-tree-folder:before,.nw-fm-tree-icon-wrap:before{
	left:0;
	position:absolute
}
.rtl .nw-fm-tree-folder:before{
	left:auto;
	right:0
}
.nw-fm-tree-arrow,.nw-fm-tree-arrow:before{
	height:16px;
	width:16px
}
.nw-fm-tree-arrow:before{
	font-size:16px
}
.rtl .nw-fm-tree-arrow:before{
	transform:rotate(180deg)
}
.commercial-wrapper{
	align-items:center;
	display:flex;
	justify-content:center;
	margin-bottom:24px;
	margin-top:auto;
	order:999;
	width:100%
}
.commercial-wrapper#commercial-wrapper-webcdsl{
	border-top:2px solid var(--stroke-main);
	height:200px;
	margin-top:0;
	padding-top:28px
}
.commercial-wrapper#commercial-wrapper-weblinkb{
	height:120px;
	padding-top:24px
}
.commercial-wrapper#commercial-wrapper-weblinkb iframe{
	margin-left:26px
}
.commercial-wrapper#commercial-wrapper-weblinkb .commercial-close-button{
	margin-right:10px
}
.commercial-wrapper#commercial-wrapper-webfilinkb{
	align-items:flex-start;
	display:none;
	height:120px;
	margin-top:12px
}
.commercial-wrapper#commercial-wrapper-webfilinkbs{
	align-items:flex-start;
	display:none;
	height:120px;
	margin:30px 0 14px
}
.commercial-wrapper#commercial-wrapper-mwebtlinkb{
	height:120px
}
.commercial-close-button{
	align-self:flex-start;
	background-color:var(--surface-mid-grey);
	color:var(--icon-rest);
	cursor:pointer;
	display:flex
}
.commercial-wrapper iframe{
	border:none;
	margin-left:16px
}
@media screen and (min-width:956px){
.commercial-wrapper#commercial-wrapper-webfilinkb{
	display:flex
}
}
@media screen and (min-width:450px) and (max-width:956px){
.commercial-wrapper#commercial-wrapper-webfilinkbs{
	display:flex
}
}
