.storage-usage .storage-usage-panel{
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	padding:12px 12px 0;
	width:100%
}
.storage-usage{
	align-self:stretch;
	position:relative
}
.storage-usage .lp-storage-information-popup,.storage-usage .lp-storage-limit-popup{
	background-color:var(--surface-grey-1-inverted);
	border-radius:6px;
	bottom:120%;
	color:var(--text-color-high-inverted);
	display:none;
	left:50%;
	max-width:185px;
	padding:8px 12px;
	position:absolute;
	text-align:center;
	transform:translateX(-50%);
	width:80%;
	z-index:1
}
body.ru .avatar-menu .storage-usage .lp-storage-information-popup{
	bottom:auto;
	top:80%
}
.storage-usage .lp-storage-limit-popup{
	bottom:150%;
	left:93%;
	max-width:unset;
	width:205px
}
.rtl .storage-usage .lp-storage-limit-popup{
	left:60%
}
.storage-usage .lp-storage-information-popup:after,.storage-usage .lp-storage-limit-popup:after{
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:12px solid var(--surface-grey-1-inverted);
	bottom:-11px;
	content:"";
	height:0;
	left:0;
	margin:0 auto;
	position:absolute;
	right:0;
	width:0
}
.rtl .storage-usage .lp-storage-limit-popup:after{
	margin-right:87%
}
body.ru .avatar-menu .storage-usage .lp-storage-information-popup:after{
	top:-11px;
	transform:rotate(180deg)
}
.storage-usage .lp-storage-limit-popup:after{
	bottom:auto
}
.storage-usage .lp-storage-information-popup.hovered,.storage-usage .lp-storage-limit-popup.hovered{
	display:flex
}
.storage-usage .storage-usage-panel.hidden{
	display:none
}
.storage-usage .storage-usage-panel .title-block{
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:6px
}
.storage-usage .storage-usage-panel .title-block .text-and-tooltip{
	align-items:center;
	display:flex;
	flex-direction:row;
	position:relative
}
.storage-usage-panel .title-block .text-and-tooltip .storage-limit-icon{
	color:var(--icon-rest);
	cursor:pointer;
	height:18px;
	margin-inline-start:4px;
	width:16px
}
.storage-usage .storage-usage-panel .title-block .plan,.storage-usage .storage-usage-panel .title-block .storage-txt{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-caption-small-regular);
	line-height:18px;
	white-space:nowrap
}
.storage-usage .storage-usage-panel .storage-graph{
	background-color:var(--mobile-surface-3);
	border-radius:8px;
	height:6px;
	margin-bottom:8px;
	overflow:hidden;
	position:relative
}
.mega-top-menu .storage-usage .storage-usage-panel .storage-graph{
	margin-bottom:16px
}
.storage-usage .storage-usage-panel .storage-graph span{
	background:var(--mobile-selection-control);
	height:6px;
	left:0;
	position:absolute
}
.storage-usage.warning .storage-usage-panel .storage-graph span{
	background:var(--secondary-orange)
}
.storage-usage.over .storage-usage-panel .storage-graph span{
	background:var(--secondary-red)
}
.storage-usage-panel .info{
	font:var(--text-body2);
	position:relative
}
.storage-usage-panel .info a.upgrade{
	justify-content:center;
	width:100%
}
.storage-usage-panel .info a.upgrade span{
	font-weight:var(--mobile-font-weight-semibold)
}
.storage-usage-panel .loader.loading{
	animation:rotate 2.5s linear infinite;
	opacity:1
}
.storage-usage-panel .loader{
	background-position:-6px -350px;
	height:12px;
	opacity:0;
	width:12px
}
.storage-usage-panel .storage-txt{
	color:var(--stroke-main-inverted)
}
.storage-usage-panel .storage-txt span{
	font:inherit
}
.storage-usage-panel .loader.loading+.storage-txt{
	visibility:hidden
}
.storage-usage .achieve-link{
	margin-top:12px
}
.storage-usage .achieve-link button.nav-elem.normal{
	--mask-color:var(--mobile-link-primary);
	background:transparent;
	width:100%
}
.storage-usage .achieve-link button.nav-elem:hover{
	background:transparent
}
.storage-usage .achieve-link button.nav-elem .text-box-wrapper{
	width:100%
}
.storage-usage .achieve-link button.nav-elem .primary-text{
	color:var(--mobile-link-primary);
	font:var(--mobile-font-link-large-semibold);
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:100%
}
