.theme-light.transferit-vars,.theme-light .transferit-vars,.transferit-vars .theme-light-forced{

	--wall-img1-url:url(../imagery/js-ui-transfer-wallpapers-w1-light.ced8d72edb4b35e3.jpg);

	--url-login-img:url(../imagery/js-ui-transfer-illustrations-auth-illustration.1528bec0f4aa0849.png);
	--url-link-ready-img:url(../imagery/js-ui-transfer-illustrations-link-ready.70db867f8d33254d.png);
	--url-ready-to-dl-img:url(../imagery/js-ui-transfer-illustrations-ready-to-dl.a0a8d48eb3b1a22e.png)
}
.theme-dark.transferit-vars,.theme-dark .transferit-vars,.transferit-vars .theme-dark-forced{

	--wall-img1-url:url(../imagery/js-ui-transfer-wallpapers-w1-dark.2d8c43374e864cf1.jpg);

	--url-login-img:url(../imagery/js-ui-transfer-illustrations-auth-illustration-dark.529db2abf98a080f.png);
	--url-link-ready-img:url(../imagery/js-ui-transfer-illustrations-link-ready-dark.34425494056e98af.png);
	--url-ready-to-dl-img:url(../imagery/js-ui-transfer-illustrations-ready-to-dl-dark.250cc3c421648804.png)
}
