
.settings-wrap{
	background:var(--settings-page-background);
	color:var(--mobile-text-primary);
	display:flex;
	flex-direction:column;
	height:100%;
	margin:0;
	overflow:hidden
}
.settings-container{
	margin:24px 24px 48px;
	max-width:705px
}
.settings-container>.mega-list-container{
	margin-bottom:32px
}
.settings-header{
	background:var(--mobile-page-background);
	border-bottom:1px solid var(--mobile-border-strong);
	height:72px
}
.settings-container .mega-dropdown{
	display:flex
}
.settings-container .menu-container.overlay-wrap{
	background:var(--mobile-page-background);
	border:1px solid var(--mobile-border-strong);
	border-radius:var(--mobile-border-radius-large);
	box-shadow:var(--mobile-shadow-medium);
	width:280px
}
.settings-container .menu-container .list-items{
	box-sizing:border-box;
	margin:0;
	padding:16px;
	width:100%
}
.settings-container .menu-container .list-items .list-item.nav-elem.full-width{
	cursor:pointer;
	justify-content:space-between
}
.settings-container .dropdown{
	width:100%
}
.settings-container .button.import-file{
	min-width:188px
}
.settings-container .import-error-message{
	color:var(--mobile-text-error);
	display:flex;
	margin-top:16px
}
.settings-container .import-error-message i{
	margin-inline-end:8px;
	margin-top:4px
}
.settings-container .long-notification .toast-notification .message-body{
	white-space:unset
}
.settings-container .import-passwords-label{
	word-break:break-word
}
.settings-container .dropdown-options-wrap{
	top:calc(100% + 4px);
	z-index:1
}
.settings-container .dropdown-options-wrap.top{
	max-height:400px;
	top:-4px
}
@media screen and (min-width:769px){
.settings-container{
	margin:24px auto 48px
}
}
@media screen and (min-width:1080px){
.settings-container{
	max-width:728px
}
}
.settings-wrap{
	min-width:auto
}
.settings-container{
	max-width:428px;
	width:100%
}
@media screen and (min-width:1080px){
.settings-container{
	max-width:728px
}
}
