
.overlay-wrap{
	align-items:center;
	display:flex;
	flex-direction:column;
	height:100%;
	justify-content:flex-end;
	left:0;
	position:fixed;
	top:0;
	transition:visibility .2s ease-out;
	visibility:hidden;
	width:100%;
	z-index:101
}
.overlay-wrap.active{
	background:var(--mobile-background-blur);
	transition:background .2s ease-out,visibility .2s ease-out;
	visibility:visible
}
.mega-overlay.active .overlay{
	transform:translateY(0)
}
.mega-overlay .overlay{
	background:var(--mobile-page-background);
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	height:100%;
	padding:40px 0;
	transform:translateY(100%);
	transition:transform .2s ease-out;
	width:100%
}
.mega-overlay.with-footer .overlay{
	padding-bottom:0
}
.mega-overlay.mega-overlay-view{
	height:fill-available;
	height:-webkit-fill-available;
	position:absolute
}
.mega-overlay.mega-overlay-view .overlay{
	padding:0
}
.mega-overlay.mega-overlay-view .mega-bottom-bar{
	position:relative
}
.overlay-wrap .main{
	align-items:center;
	display:flex;
	flex-direction:column;
	height:100%;
	overflow:hidden
}
.overlay-wrap .main.ps{
	box-sizing:border-box
}
.mega-overlay.overlay-wrap .image,.mega-overlay.overlay-wrap .title{
	align-self:flex-start
}
.overlay-wrap .title h1{
	font:var(--mobile-font-heading-h1)
}
.overlay-wrap .title h2{
	font:var(--mobile-font-heading-h2)
}
.overlay-wrap .title h1,.overlay-wrap .title h2{
	color:var(--mobile-text-primary);
	margin:0
}
.mega-overlay.overlay-wrap .image.centered,.mega-overlay.overlay-wrap .title.centered{
	align-self:center
}
.overlay-wrap .subtitle{
	margin-top:-8px
}
.overlay-wrap .subtitle span{
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-copy-regular)
}
.overlay-wrap .content{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-copy-regular);
	width:100%
}
.overlay-wrap .actions{
	align-items:center;
	display:flex;
	flex-direction:column
}
.mega-overlay .overlay>.close,.overlay-wrap .main>:not(:last-child){
	margin-bottom:16px
}
.mega-overlay:not(.action-button-bottom) .overlay>.actions,.overlay-wrap .actions>:not(:first-child){
	margin-top:16px
}
.overlay-wrap .main.ps{
	padding-bottom:4px
}
.overlay-wrap .main .ps__rail-x{
	margin-bottom:0
}
.overlay-wrap .actions .button{
	height:48px;
	max-width:var(--mobile-elem-max-width);
	width:100%
}
.overlay-wrap .image{
	--icon-size:80px;
	color:var(--mobile-icon-primary)
}
.overlay-wrap .actions .button span{
	font-weight:var(--mobile-font-weight-semibold)
}
.overlay-wrap .actions:empty,.overlay-wrap .content:empty,.overlay-wrap .header-title:empty,.overlay-wrap .image:empty,.overlay-wrap .subtitle:empty,.overlay-wrap .title:empty{
	display:none
}
.overlay-wrap.action-button-bottom .content{
	padding-bottom:16px
}
.overlay-wrap.action-button-bottom .overlay{
	padding-bottom:81px
}
.overlay-wrap.action-button-bottom .actions{
	bottom:0;
	box-sizing:border-box;
	left:0;
	position:fixed;
	right:0
}
.overlay-wrap.action-button-bottom .actions>button{
	margin:0 24px 24px;
	width:calc(100% - 48px)
}
.overlay-wrap .image i.key{
	background-image:url(../../images/mobile/key.png?v=2c2c3654bb2a3b51)
}
.overlay-wrap .image i.reload{
	background-image:url(../../images/mobile/reload.png?v=33f8ee628d472e7e)
}
.overlay-wrap .image i.bell{
	background-image:url(../../images/mobile/bell.png?v=62575a669a21b1b8)
}
.overlay-wrap .image i.password{
	background-image:url(../../images/mobile/password.png?v=b2dba1e45a861281)
}
.overlay-wrap .image i.bell,.overlay-wrap .image i.key,.overlay-wrap .image i.password,.overlay-wrap .image i.reload{
	background-size:contain;
	height:96px;
	width:96px
}
body.mobile .overlay-wrap .image i.bell,body.mobile .overlay-wrap .image i.password{
	background-size:contain;
	height:64px;
	width:64px
}
.overlay-wrap .header{
	align-items:center;
	box-sizing:border-box;
	display:flex;
	width:100%
}
.overlay-wrap .header .close{
	right:1rem;
	top:-1.5rem;
	width:fit-content
}
.rtl .overlay-wrap .header .close{
	left:1rem
}
.overlay-wrap .header-title{
	width:100%
}
.overlay-wrap .overlay-footer{
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	padding:16px 40px 40px;
	transition:transform .2s ease-out;
	width:100%
}
@media only screen and (orientation:landscape) and (max-height:359px){
.overlay-wrap i.icon{
	display:none
}
}
.overlay-wrap.export-links-dialog .overlay-footer{
	padding-top:12px
}
