
.mega-component.mega-tooltip{
	z-index:1
}
.mega-component.mega-tooltip .tooltip{
	background:var(--mobile-background-inverse);
	border-radius:var(--mobile-border-radius-medium);
	box-sizing:border-box;
	color:var(--mobile-text-primary);
	display:flex;
	flex-direction:row;
	height:auto;
	min-width:180px;
	padding:16px;
	position:absolute;
	width:280px
}
.mega-component.mega-tooltip.active{
	transition:none
}
.mega-component.mega-tooltip .tooltip.simple{
	max-width:360px;
	min-width:auto;
	text-align:center;
	width:auto
}
.mega-component.mega-tooltip .tooltip-content{
	display:flex;
	flex-direction:column;
	width:100%
}
.mega-component.mega-tooltip .tooltip-title{
	color:var(--mobile-text-inverse);
	font:var(--mobile-font-copy-semibold);
	margin:0
}
.mega-component.mega-tooltip .tooltip-body{
	color:var(--mobile-text-inverse-secondary);
	font:var(--mobile-font-caption-large-regular);
	line-height:var(--mobile-font-line-height-heading);
	margin-top:8px
}
.mega-component.mega-tooltip .tooltip-body:empty{
	display:none
}
.mega-component.mega-tooltip .tooltip-actions{
	border-top:1px solid var(--mobile-icon-secondary);
	display:flex;
	flex-direction:column;
	margin-top:12px;
	padding-top:12px
}
.mega-component.mega-tooltip .tooltip-actions .button{
	background:none;
	height:auto;
	justify-content:flex-start;
	padding:0;
	width:100%
}
.mega-component.mega-tooltip .tooltip-actions .button:not(:last-child){
	margin-bottom:8px
}
.mega-component.mega-tooltip .tooltip-actions .button.primary{
	height:19px
}
.mega-component.mega-tooltip .tooltip-actions .button.primary span{
	color:var(--mobile-text-inverse);
	font:var(--mobile-font-link-large-semibold)
}
.mega-component.mega-tooltip .tooltip-actions .button.secondary{
	height:17px
}
.mega-component.mega-tooltip .tooltip-actions .button.secondary span{
	color:var(--mobile-text-inverse-secondary);
	font:var(--mobile-font-link-small-semibold)
}
.mega-component.mega-tooltip .tooltip-controls{
	align-items:center;
	display:flex;
	flex-direction:column
}
.mega-component.mega-tooltip .close{
	color:var(--mobile-icon-inverse-secondary);
	margin-left:8px;
	padding:0
}
.mega-component.mega-tooltip .tooltip-step{
	color:var(--mobile-icon-inverse-secondary);
	font:var(--mobile-font-caption-small-regular);
	margin-left:8px;
	margin-top:auto
}
.mega-component.mega-tooltip .tooltip-actions:empty,.mega-component.mega-tooltip .tooltip-body:empty,.mega-component.mega-tooltip .tooltip-controls:empty,.mega-component.mega-tooltip .tooltip-step:empty,.mega-component.mega-tooltip .tooltip-title:empty{
	display:none
}
.mega-component.mega-tooltip .tooltip:before{
	border-style:solid;
	content:"";
	height:0;
	position:absolute;
	width:0
}
.mega-component.mega-tooltip .tooltip.position-top:before{
	border-bottom-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-top-color:var(--mobile-background-inverse);
	border-width:8px 8px 0;
	bottom:-8px
}
.mega-component.mega-tooltip .tooltip.position-bottom:before{
	border-bottom-color:var(--mobile-background-inverse);
	border-left-color:transparent;
	border-right-color:transparent;
	border-top-color:transparent;
	border-width:0 8px 8px;
	top:-7px
}
.mega-component.mega-tooltip .tooltip.position-right:before{
	border-bottom-color:transparent;
	border-left-color:transparent;
	border-right-color:var(--mobile-background-inverse);
	border-top-color:transparent;
	border-width:8px 8px 8px 0;
	left:-8px
}
.mega-component.mega-tooltip .tooltip.position-left:before{
	border-bottom-color:transparent;
	border-left-color:var(--mobile-background-inverse);
	border-right-color:transparent;
	border-top-color:transparent;
	border-width:8px 0 8px 8px;
	right:-7px
}
.mega-component.mega-tooltip .tooltip.position-bottom.align-start:before,.mega-component.mega-tooltip .tooltip.position-top.align-start:before{
	left:12px
}
.mega-component.mega-tooltip .tooltip.position-bottom.align-center:before,.mega-component.mega-tooltip .tooltip.position-top.align-center:before{
	left:calc(50% - 8px)
}
.mega-component.mega-tooltip .tooltip.position-bottom.align-end:before,.mega-component.mega-tooltip .tooltip.position-top.align-end:before{
	right:12px
}
.mega-component.mega-tooltip .tooltip.position-left.align-start:before,.mega-component.mega-tooltip .tooltip.position-right.align-start:before{
	top:12px
}
.mega-component.mega-tooltip .tooltip.position-left.align-center:before,.mega-component.mega-tooltip .tooltip.position-right.align-center:before{
	top:calc(50% - 8px)
}
.mega-component.mega-tooltip .tooltip.position-left.align-end:before,.mega-component.mega-tooltip .tooltip.position-right.align-end:before{
	bottom:12px
}
