
.mega-dropdown{
	display:grid
}
.mega-dropdown label{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-caption-large-bold)
}
.nav-elem.full-width.dropdown-button{
	height:48px
}
.dropdown-button{
	background:var(--mobile-page-background);
	border:none;
	color:var(--mobile-text-placeholder);
	font:var(--mobile-font-copy-regular);
	padding:0 5px;
	position:relative
}
.dropdown-button.selected option{
	color:var(--mobile-text-primary)
}
.search-box-wrapper{
	align-items:center;
	display:flex;
	justify-content:space-between;
	margin-bottom:10px;
	width:100%
}
.list-items{
	overflow-y:auto
}
.nav-elem.list-item{
	padding:0
}
.nav-elem.dropdown-button:hover,.nav-elem.list-item:hover{
	background:unset
}
.nav-elem.full-width.text-only.list-item span{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-copy-regular)
}
.nav-elem.full-width.text-only.list-item:active{
	text-decoration:none
}
.sort-password-list .nav-elem.full-width.text-only.list-item span.sub-text{
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-caption-large-regular)
}
.sort-password-list li.list-item{
	height:65px
}
.no-results{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-copy-regular);
	text-align:center;
	word-break:break-word
}
.no-results h2:empty{
	margin:0
}
.dropdown-container{
	align-items:start;
	background-color:var(--mobile-surface-1);
	border-radius:var(--mobile-border-radius-large);
	box-sizing:border-box;
	display:flex;
	height:auto;
	overflow-y:auto;
	position:absolute;
	visibility:hidden;
	width:auto
}
.dropdown-container.active{
	visibility:visible
}
.overlay-wrap .content ul.sort-password-list{
	margin:0;
	padding:16px;
	width:260px
}
ul.sort-password-list li i{
	margin-inline-start:auto
}
.hidden-select{
	clip:rect(0, 0, 0, 0);
	border:0;
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}
.sk-loading.name-sort.dropdown-button{
	justify-content:flex-start;
	padding-bottom:0
}
.sk-loading.name-sort.dropdown-button .icon{
	display:none
}
.nav-elem.normal.dropdown-button{
	border:1px solid var(--mobile-border-strong);
	cursor:pointer;
	padding:0 12px
}
.dropdown-options-wrap{
	box-shadow:var(--mobile-shadow-medium);
	display:none;
	left:0;
	position:absolute;
	top:100%
}
.rtl .dropdown-options-wrap{
	left:auto;
	right:0
}
.dropdown-options-wrap.top{
	right:0;
	top:0;
	transform:translateY(-100%)
}
.rtl .dropdown-options-wrap.top{
	left:0;
	right:auto
}
.dropdown-options-wrap.right{
	left:auto;
	right:0
}
.rtl .dropdown-options-wrap.right{
	left:0;
	right:auto
}
.dropdown-button.active .dropdown-options-wrap{
	border-radius:var(--mobile-border-radius-large);
	display:block
}
.dropdown-options-wrap .dropdown-menu.overlay-wrap{
	position:relative
}
.dropdown-options-wrap .dropdown-menu .header{
	margin-bottom:0
}
.nav-elem.full-width.dropdown-button,.overlay-wrap .content ul.sort-password-list{
	width:auto
}
.sort-password-list .list-item.nav-elem{
	height:auto;
	padding:16px 8px
}
.sort-password-list .list-item:hover{
	background:var(--mobile-surface-1);
	border-radius:var(--mobile-border-radius-medium)
}
