
.overlay-wrap{
	background:var(--mobile-background-blur);
	z-index:2
}
.overlay-wrap,.overlay-wrap .overlay{
	box-sizing:border-box
}
.overlay-wrap.active .overlay{
	transform:translateY(0)
}
.mega-overlay .overlay{
	background:var(--mobile-page-background);
	display:flex;
	flex-direction:column;
	height:100%;
	transform:translateY(100%);
	transition:transform .2s ease-out;
	width:100%
}
.mega-overlay.mega-overlay-view{
	height:fill-available;
	height:-webkit-fill-available;
	position:absolute
}
.mega-overlay.mega-overlay-view .overlay{
	padding:0
}
.mega-overlay.mega-overlay-view .mega-bottom-bar{
	position:relative
}
.overlay-wrap .main{
	display:flex;
	flex-direction:column;
	height:100%;
	padding:0;
	width:100%
}
.mega-overlay.overlay-wrap .title{
	align-self:flex-start
}
.overlay-wrap .title h1,.overlay-wrap .title h2{
	color:var(--mobile-text-primary);
	margin:0 0 24px
}
.overlay-wrap .subtitle{
	margin-top:-8px
}
.overlay-wrap .subtitle span{
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-copy-regular)
}
.overlay-wrap .content{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-copy-regular);
	height:auto;
	width:100%
}
.overlay-wrap .content p{
	margin:0 auto 18px
}
.overlay-wrap .actions{
	display:flex;
	flex-direction:row;
	justify-content:end;
	padding:16px 24px
}
.overlay-wrap .actions .button{
	height:48px;
	width:100%
}
.overlay-wrap .image{
	--icon-size:80px;
	color:var(--mobile-icon-primary)
}
.overlay-wrap .actions .button span{
	font-weight:var(--mobile-font-label-underline)
}
.overlay-wrap .actions:empty,.overlay-wrap .content:empty,.overlay-wrap .header-title:empty,.overlay-wrap .image:empty,.overlay-wrap .nav-title:empty,.overlay-wrap .subtitle:empty,.overlay-wrap .title:empty{
	display:none
}
.mega-overlay .header{
	box-sizing:border-box;
	padding:24px
}
.header-title h2{
	font:var(--mobile-font-heading-h2)
}
.header-title h3{
	font:var(--mobile-font-heading-h3)
}
.header-title>*{
	color:var(--mobile-text-primary);
	margin:0
}
.overlay-wrap.warningb{
	--mobile-elem-max-width:514px
}
.overlay-wrap{
	transition:none
}
.overlay-wrap.pm-overlay{
	display:none;
	left:0;
	position:absolute;
	top:0;
	z-index:220
}
.overlay-wrap.active.pm-overlay{
	display:flex
}
.mega-overlay.pm-overlay .overlay{
	height:auto
}
.overlay-wrap.pm-overlay .close{
	margin-left:auto;
	position:relative;
	right:auto;
	top:auto
}
.overlay-wrap.pm-overlay .main{
	height:auto;
	overflow:initial
}
.overlay-wrap.pm-overlay .overlay{
	min-height:100%;
	padding:0
}
.overlay-wrap.pm-overlay .main.centered{
	box-sizing:border-box;
	margin:0 auto;
	max-width:528px;
	padding:0 24px
}
.overlay-wrap.pm-overlay .title h1,.overlay-wrap.pm-overlay .title h2{
	margin:0
}
.overlay-wrap.pm-overlay.ps{
	min-width:auto
}
.with-top-nav .header{
	border-bottom:1px solid var(--mobile-border-strong)
}
.overlay-wrap .actions button:last-child:nth-child(2n){
	margin-inline-end:16px;
	margin-top:0
}
.overlay-wrap .title h1,.overlay-wrap .title h2{
	margin:0
}
.overlay-wrap .sub-message{
	color:var(--mobile-text-secondary);
	font-size:14px
}
.overlay-wrap .content.ps{
	box-sizing:border-box;
	padding-inline-end:12px
}
.overlay-wrap .actions{
	box-sizing:border-box;
	flex-flow:row-reverse nowrap
}
.overlay-wrap .actions.center{
	justify-content:center
}
.overlay-wrap .actions .button span{
	font-weight:var(--mobile-font-weight-semibold)
}
.overlay-wrap.modal-dialog .main .title{
	max-width:100%
}
.overlay-wrap .main .title h2.text-container{
	display:flex;
	position:relative;
	width:100%
}
.overlay-wrap .title h2.text-container>*{
	margin-inline-start:4px
}
.overlay-wrap.modal-dialog .main a{
	color:var(--mobile-link-primary)
}
.overlay-wrap.pm-overlay.tutorial-overlay{
	position:relative
}
.overlay-wrap.pm-overlay.tutorial-overlay .pm.mega-input .account.password-status.checked{
	display:none
}
.overlay-wrap.pm-overlay.tutorial-overlay .pm.mega-input.strengthChecker.title-ontop.checked{
	margin-bottom:30px
}
.overlay-wrap.pm-overlay.tutorial-overlay .pm.mega-input .clear-input.icon{
	display:none
}
