
.password-list-page{
	display:grid;
	grid-auto-columns:323px auto 1fr;
	height:100%;
	overflow:hidden;
	position:relative
}
.password-list-page .empty-state{
	display:none
}
.password-list-page.is-empty{
	grid-auto-columns:1fr;
	grid-auto-rows:auto 1fr
}
.password-list-page.is-empty .detail-panel,.password-list-page.is-empty .password-list,.password-list-page.is-empty .vertical-divider{
	display:none
}
.password-list-page.is-empty .empty-state{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center
}
.password-list-page .empty-state div.empty-state{
	background:url(../imagery/pm-empty-list.9d38fa8762bd79a1.png) no-repeat;
	background-size:contain;
	height:200px;
	width:200px
}
.password-list-page .empty-state div.error{
	background:url(../imagery/pm-error-loading.d535989f45955393.png) no-repeat;
	background-size:contain;
	height:120px;
	width:120px
}
.password-list-page .empty-state div.empty-state.empty-search-results{
	background:url(../imagery/pm-empty-search-results.dba3f163175cdc2d.png) no-repeat;
	background-size:contain;
	height:120px;
	width:120px
}
.password-list-page .empty-state h1{
	color:var(--mobile-text-primary)
}
.password-list-page .empty-state p{
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-copy-regular);
	margin-top:0;
	max-width:466px;
	text-align:center
}
.password-list-panel{
	display:flex;
	flex-direction:column;
	grid-column:1;
	overflow:hidden
}
.detail-panel{
	grid-column:3;
	overflow:hidden auto
}
.password-list{
	cursor:default;
	height:100%
}
.password-list-page:not(.is-empty) .vertical-divider{
	border-left:1px solid var(--mobile-border-strong);
	grid-column:2;
	width:0
}
.list-header,.password-list-page .sk-loading{
	align-items:flex-start;
	flex-direction:column;
	font:var(--mobile-font-caption-large-bold);
	justify-content:center;
	margin:0;
	min-height:36px;
	padding:0 24px
}
.list-header,.password-list-page .sk-loading,.sub-header{
	align-self:stretch;
	color:var(--mobile-text-primary);
	display:flex
}
.sub-header{
	align-items:center;
	background:var(--mobile-page-background);
	justify-content:space-between;
	padding:16px 24px 0;
	position:sticky;
	top:0;
	z-index:1
}
.name-sub-header{
	align-items:center;
	display:flex
}
.name-sub-header h1{
	margin-inline-start:16px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:330px
}
.password-list-page .detail-form{
	display:flex;
	flex-direction:column;
	padding:24px 24px 0
}
.password-item:not(.sk-loading){
	cursor:pointer
}
.password-list-page .detail-form .mega-input{
	box-sizing:border-box;
	margin-bottom:24px;
	max-width:466px;
	resize:none;
	width:100%
}
.password-list-page .detail-form textarea.form-element{
	max-height:142px;
	min-height:48px;
	overflow-y:auto
}
.password-list-page .detail-form p.text-detail{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-caption-small-bold);
	margin-top:0
}
.name-sort.nav-elem.dropdown-button,.password-list-page .detail-form p.text-detail span{
	font:var(--mobile-font-caption-small-regular)
}
.name-sort.nav-elem.dropdown-button{
	color:var(--mobile-text-primary);
	padding:16px 24px
}
.name-sort.nav-elem.dropdown-button.active{
	background:var(--mobile-page-background)
}
.name-sort.nav-elem.dropdown-button .dropdown-options-wrap{
	margin-inline-start:16px
}
.name-sort.nav-elem.dropdown-button.nav-elem .text-box-wrapper{
	margin-inline-end:8px
}
.name-sort.nav-elem.dropdown-button .primary-text{
	font:var(--mobile-font-caption-small-regular)
}
.name-sort.nav-elem.dropdown-button .icon{
	--icon-size:16px
}
.name-sort .icon.desc{
	transform:rotate(180deg)
}
.password-list .nav-elem:last-of-type{
	margin-bottom:24px
}
.password-item span{
	overflow:hidden;
	white-space:nowrap
}
.detail-panel .name-sub-header .manual-favicon span,.password-item.nav-elem .manual-favicon span{
	display:flex;
	font:var(--mobile-font-caption-small-semibold);
	justify-content:center;
	width:24px
}
.password-list-page .detail-panel .name-sub-header .favicon,.password-list-page .detail-panel .name-sub-header .favicon .favicon-brand img{
	height:32px;
	width:32px
}
.password-list-page .detail-panel .name-sub-header .manual-favicon i{
	--icon-size:24px
}
.password-list-page .detail-panel .name-sub-header .favicon .favicon-brand i{
	--icon-size:32px
}
.password-item.nav-elem span.primary-text{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-caption-large-semibold)
}
.password-item span.primary-text,.password-item span.sub-text{
	text-overflow:ellipsis;
	width:220px
}
.search-results{
	border-bottom:1px solid var(--mobile-border-strong);
	box-sizing:border-box;
	color:var(--mobile-text-secondary);
	font:var(--mobile-font-copy-semibold);
	height:56px;
	padding:16px 24px;
	width:323px
}
.mega-component.read-only-field.highlighted .read-only-actions>:last-child,.password-list-page .detail-panel.tutorial .read-only-actions>:last-child,.password-list-page .detail-panel.tutorial p.text-detail{
	display:none
}
.password-list-page .detail-panel.tutorial .mega-component.read-only-field#otp{
	margin-bottom:0
}
.password-list-page{
	grid-auto-columns:max-content auto 1fr
}
.password-list-page.showing-banner{
	grid-auto-rows:max-content auto 1fr
}
.password-list-page .mega-pass-install-banner{
	grid-column:1 /  4
}
.password-list-page .name-sub-header{
	max-width:calc(100% - 36px);
	padding:24px 0
}
.password-list-page .name-sub-header h1{
	font:var(--mobile-font-heading-h1);
	width:auto
}
.password-list-page .detail-form,.password-list-page .sub-header{
	margin:auto;
	max-width:480px;
	padding-top:0
}
.password-item .text-box-wrapper{
	flex:1;
	overflow:hidden
}
.password-item span.primary-text,.password-item span.sub-text{
	max-width:100%;
	width:auto
}
.password-list .password-item .nav-elem:last-of-type{
	margin-bottom:0
}
.mega-component.name-sort .right-icon{
	margin-inline-start:0
}
.password-list-page .empty-state div.empty-state{
	height:160px;
	width:160px
}
.password-list-page.is-empty .password-list-panel{
	width:100% !important
}
.password-list-page.is-empty .empty-state,.password-list-page.is-empty .password-list-panel{
	grid-column:1 /  4
}
.password-list-page.is-empty-search-results .password-list-panel>:not(.top-container),.password-list-page.is-empty .password-list-panel>:not(.top-container){
	display:none
}
.search-results{
	border-top:1px solid var(--mobile-border-strong);
	width:100%
}
.password-list-panel{
	align-items:flex-start
}
.password-list-page.is-empty-search-results .password-list-panel{
	grid-row:1;
	z-index:1
}
.password-list-page.is-empty-search-results .detail-panel{
	height:0;
	visibility:hidden
}
.password-list-page.is-empty-search-results .empty-state{
	align-items:center;
	display:flex;
	flex-direction:column;
	grid-column:1;
	grid-row:1;
	justify-content:center
}
.password-list-page.is-empty-search-results.showing-banner .empty-state,.password-list-page.is-empty-search-results.showing-banner .password-list-panel{
	grid-row:2
}
.password-list-page .detail-panel .nav-header{
	display:none
}
.password-list-page .left-pane-drag-handle{
	right:-5px
}
.password-list-page .left-pane-drag-handle:after{
	display:none
}
@media only screen and (min-width:1080px){
.password-list .password-item .context-menu-btn{
	visibility:hidden
}
}
@media screen and (max-width:1079px){
.password-list-page{
	grid-auto-columns:1fr;
	grid-auto-rows:auto 1fr
}
.password-list-page .password-list-panel{
	background:var(--mobile-page-background);
	grid-row:2 /  3;
	width:100% !important;
	z-index:1
}
.password-list-page .vertical-divider{
	display:none
}
.password-list-page .detail-panel{
	background:var(--mobile-page-background);
	grid-column:1;
	grid-row:2 /  3;
	z-index:0
}
.password-list-page .detail-panel.active{
	z-index:2
}
.password-list-page .detail-panel .nav-header{
	display:block;
	margin:auto;
	max-width:480px;
	padding:16px 24px 0
}
.password-list-page .empty-state{
	grid-row:3 /  4
}
.password-list-page .nav-elem.password-item.active{
	background:none
}
.password-list-page.is-empty .empty-state,.password-list-page.is-empty .password-list-panel,.password-list-page .mega-pass-install-banner{
	grid-column:1
}
.password-list-page.is-empty,.password-list-page.is-empty-search-results{
	grid-auto-rows:max-content auto 1fr
}
.password-list-page.is-empty-search-results .empty-state{
	grid-row:2
}
.password-list-page.is-empty-search-results.showing-banner .empty-state{
	grid-row:3
}
}
@media only screen and (max-width:1080px){
.password-list-page .password-list-panel .left-pane-drag-handle{
	display:none
}
}
