.top-container .logged-header,.top-container .login-header{
	align-items:center;
	border-bottom:1px solid var(--mobile-border-strong);
	display:flex;
	height:47px;
	justify-content:space-between;
	padding:12px 24px
}
.top-container.logged-in .login-header,.top-container:not(.logged-in) .logged-header{
	display:none
}
.nav-elem.menu-btn{
	padding:0 12px
}
.pm.mega-input.search-bar.disabled{
	background-color:var(--mobile-button-disabled)
}
.pm.mega-input.search-bar{
	flex-grow:1;
	margin:0;
	margin-inline-end:16px;
	width:auto
}
.search-bar .form-element{
	margin:0;
	width:100%
}
.search-bar .left-icon{
	z-index:1
}
.search-bar.focus .form-element{
	padding-left:12px
}
.search-bar.focus.mega-input.with-icon .left-icon,.search-bar.valued.mega-input.with-icon .left-icon,.search-bar input:focus::placeholder{
	color:transparent
}
.top-container{
	width:100%
}
.top-container .avatar,.top-container .menu-btn{
	display:none
}
.top-container .logged-header{
	border:none;
	padding:24px
}
.top-container .search-bar{
	flex:1;
	max-width:800px
}
@media only screen and (max-width:1319px){
.top-container .add-btn{
	padding:12px
}
.top-container .add-btn i{
	margin-inline-end:0
}
.top-container .add-btn .text-box-wrapper{
	display:none
}
}
