
#fmholder.pmholder{
	min-width:769px
}
.fm-overlay .pmholder{
	pointer-events:none
}
#fmholder.pmholder .fm-main>:not(#topmenu):not(.notification-banner){
	display:none
}
#fmholder.pmholder .fm-main,#fmholder.pmholder .fm-main .topbar{
	height:auto
}
#fmholder.pmholder .fm-main .topbar-links,#fmholder.pmholder .fm-main .topbar .fmdb-loader{
	display:none
}
#fmholder.pmholder .top-menu-popup button.positive{
	background:var(--mobile-button-primary);
	box-shadow:none;
	color:var(--mobile-text-inverse)
}
#fmholder.pmholder .top-menu-popup button.branded-red{
	background:var(--mobile-button-secondary);
	box-shadow:none;
	color:var(--mobile-text-primary)
}
.pm-main{
	align-content:start;
	background-color:var(--mobile-page-background);
	display:grid;
	grid-template-columns:auto 1fr 0;
	grid-template-rows:auto auto 1fr auto;
	height:100%;
	overflow-x:hidden;
	transition:.2s linear
}
.pm-main.flyout-expanded{
	grid-template-columns:auto 1fr var(--flyout-width)
}
@media only screen and (max-width:1200px){
.pm-main.flyout-expanded{
	grid-template-columns:auto 1fr 0
}
}
.pm-main .banner-rack{
	grid-column:2 /  3;
	grid-row:1 /  2
}
.pm-main .fm-left-panel,.pm-main .mega-top-menu{
	background:var(--mobile-surface-1);
	box-sizing:border-box;
	grid-column:1 /  2;
	grid-row:1 /  4;
	overflow:visible;
	padding-bottom:24px
}
.pm-main .mega-header{
	grid-column:2 /  4;
	grid-row:2 /  3;
	min-width:715px
}
body.pwm-ui .pm-main .mega-header{
	min-width:auto
}
.pm-main .password-list-page,.pm-main .pm-overlay.tutorial-overlay,.pm-main .settings-wrap,.pm-main>.fm-affiliate,.pm-main>section,.section.conversations{
	grid-column:2 /  3;
	grid-row:3 /  4;
	height:auto;
	overflow:hidden;
	width:auto
}
.section.conversations{
	grid-column:1 /  3;
	grid-row:2 /  4;
	overflow:hidden
}
.theme-light .pm-main .sprite-fm-illustration-wide.img-mega-logo{
	background:url(../../images/pm/favicons/pwm_logo_lightmode.svg) no-repeat
}
.theme-dark .pm-main .sprite-fm-illustration-wide.img-mega-logo{
	background:url(../../images/pm/favicons/pwm_logo_darkmode.svg) no-repeat
}
body.rtl.pwm-ui .pm-main>.password-wrapper>*,body.rtl.pwm-ui .pm-main>:not(.password-wrapper){
	direction:rtl
}
@media only screen and (max-width:1200px){
.pm-main>section{
	grid-column:2 /  4
}
}
