
.sheet .sub-message{
	color:var(--mobile-text-secondary);
	font-size:14px;
	margin-top:8px;
	word-break:break-word
}
.mega-sheet.modal-dialog .main .primary-message{
	word-wrap:break-word
}
.rtl .mega-sheet.modal-dialog .main .primary-message,.rtl .sheet .sub-message{
	line-height:1.8
}
