
.mega-bottom-bar{
	align-items:center;
	background:var(--mobile-page-background);
	border-top:1px solid var(--mobile-border-strong);
	bottom:0;
	box-sizing:border-box;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	left:0;
	margin-top:auto;
	padding:16px 24px;
	position:fixed;
	width:100%;
	z-index:100
}
.mega-bottom-bar .icon-actions,.mega-bottom-bar .text-actions{
	align-items:flex-start;
	display:flex
}
.mega-bottom-bar .icon-actions>:not(:first-child),.mega-bottom-bar .text-actions>:not(:first-child),.mega-bottom-bar>:not(:first-child){
	margin-inline-start:8px
}
.mega-bottom-bar .icon-actions:empty{
	display:none
}
.mega-bottom-bar .text-actions{
	flex:1
}
.mega-bottom-bar.mega-comms{
	display:flex;
	flex-direction:column;
	padding-bottom:0
}
.mega-bottom-bar.mega-comms .mega-bottom-bar{
	border:none;
	padding-top:0;
	position:relative
}
.commercial-wrapper#commercial-wrapper-mwebfilinkb,.commercial-wrapper#commercial-wrapper-mwebfolinkb,.commercial-wrapper#commercial-wrapper-mwebtfilinkb,.commercial-wrapper#commercial-wrapper-mwebtfolinkb{
	padding-bottom:20px
}
.commercial-wrapper{
	justify-content:center;
	width:calc(100% + 35px)
}
.mega-comms .mega-bottom-bar{
	position:relative
}
.commercial-wrapper.tablet{
	display:flex;
	height:90px
}
.mega-comms .commercial-wrapper.mobile{
	display:none;
	height:45px;
	padding-top:0
}
@media only screen and (max-width:769px){
.mega-comms .commercial-wrapper.tablet{
	display:none
}
}
@media only screen and (max-width:769px) and (min-width:370px){
.mega-comms .commercial-wrapper.mobile{
	display:flex
}
}
