.pm-main .password-wrapper .favicon{
	height:24px;
	width:24px
}
.pm-main .password-wrapper .manual-favicon{
	align-items:center;
	background-color:var(--mobile-surface-3);
	border-radius:var(--mobile-border-radius-medium);
	color:var(--favicon-text-color);
	display:flex;
	justify-content:center;
	text-align:center
}
.pm-main .password-wrapper .manual-favicon.color0{
	background-color:var(--mobile-indicator-yellow)
}
.pm-main .password-wrapper .manual-favicon.color1{
	background-color:var(--mobile-indicator-blue)
}
.pm-main .password-wrapper .manual-favicon.color2{
	background-color:var(--mobile-indicator-green)
}
.pm-main .password-wrapper .favicon .favicon-brand img{
	height:24px;
	width:24px
}
.pm-main .password-wrapper .manual-favicon i{
	--icon-size:16px;
	color:var(--mobile-icon-primary)
}
.pm-main .password-wrapper .favicon .favicon-brand i{
	--icon-size:24px
}
.pm-main .password-wrapper h1{
	font:var(--mobile-font-heading-h1)
}
.pm-main .password-wrapper h2{
	font:var(--mobile-font-heading-h2)
}
.pm-main .password-wrapper h3{
	font:var(--mobile-font-heading-h3)
}
.pm-main .password-wrapper p,.pm-main .password-wrapper span{
	font:var(--mobile-font-caption-large-regular)
}
.pm-main .password-wrapper a,.pm-main .settings-wrap a.clickurl{
	color:var(--mobile-link-primary);
	font:var(--mobile-font-link-large-regular)
}
.pwm-ui .overlay-wrap a.clickurl{
	color:var(--mobile-link-primary);
	font:inherit
}
.pm-main .password-wrapper label{
	font:var(--font-label-semibold)
}
.pm-main .password-wrapper textarea{
	outline:none;
	resize:none
}
.pm-main .password-wrapper input::placeholder{
	color:var(--mobile-text-placeholder)
}
.pm-main .password-wrapper fieldset.fieldset{
	border:none;
	padding:0
}
.pwm-ui .overlay-wrap .invisible{
	visibility:hidden
}
