
.mega-sheet.password-generator .sheet{
	--mobile-elem-max-width:494px;
	background:var(--mobile-page-background);
	cursor:default;
	width:494px
}
.password-preview{
	background-color:var(--mobile-surface-1);
	border:1px solid var(--mobile-border-subtle);
	border-radius:var(--mobile-border-radius-medium);
	box-sizing:border-box;
	min-height:144px;
	padding:16px;
	position:relative;
	text-align:start
}
.password-colorized .letter,.password-preview .letter{
	color:var(--mobile-text-primary)
}
.password-colorized .number,.password-preview .number{
	color:var(--mobile-indicator-magenta)
}
.password-colorized .special,.password-preview .special{
	color:var(--mobile-indicator-indigo);
	white-space:pre
}
.password-preview p{
	line-break:anywhere;
	margin:0
}
.password-preview span{
	font:var(--font-password-preview);
	letter-spacing:2px
}
.copy-wrapper{
	bottom:16px;
	display:flex;
	justify-content:flex-end;
	position:absolute;
	right:6px
}
.password-copy{
	height:24px;
	padding:0
}
.strength-checker{
	align-items:center;
	display:flex;
	padding-top:4px
}
.account.password-status.moderate,.strength-checker.moderate{
	color:var(--mobile-text-warning)
}
.mega-input .account.password-status.weak,.strength-checker.weak{
	color:var(--mobile-text-error)
}
.strength-checker .strength-icon{
	margin-right:8px
}
.password-generator .mega-input input:focus{
	padding:12px !important
}
.mega-sheet.overlay-wrap.password-generator .actions .button{
	width:auto
}
.mega-sheet.overlay-wrap.password-generator .actions{
	padding-top:16px
}
.mega-sheet.password-generator i.icon{
	--icon-size:24px
}
.mega-sheet.password-generator .sheet{
	border-radius:var(--mobile-border-radius-large);
	margin:auto
}
