
.subscription-content-title{
	font:var(--mobile-font-copy-bold);
	margin-bottom:16px;
	text-align:start
}
.benefits-list{
	color:var(--mobile-text-secondary);
	display:flex;
	padding:8px 0;
	text-align:start
}
.benefits-list i{
	--icon-size:24px;
	color:var(--mobile-button-brand);
	margin-inline-end:16px
}
.mega-sheet.overlay-wrap.free-trial .title h2{
	font:var(--mobile-font-heading-h1);
	margin-bottom:24px
}
.timeline-container h3{
	color:var(--mobile-text-primary);
	font:var(--mobile-font-heading-h3);
	margin:0 0 16px;
	text-align:start
}
.timeline-item{
	gap:4px 16px;
	display:grid;
	grid-template-columns:24px 1fr;
	grid-template-rows:repeat(2, auto);
	margin-bottom:8px
}
.timeline-icon{
	--icon-size:24px;
	color:var(--mobile-button-brand);
	grid-area:1 / 1 / 2 / 2
}
.overlay-wrap .content p.timeline-day,p.timeline-day{
	font:var(--mobile-font-copy-bold);
	grid-area:1 / 2 / 2 / 3;
	margin:0;
	text-align:start
}
.timeline-bar{
	border-radius:var(--mobile-border-radius-circle);
	border-right:2px solid var(--mobile-border-strong);
	grid-area:2 / 1 / 3 / 2;
	height:44px;
	place-self:start center;
	width:0
}
.overlay-wrap .content p.timeline-description,.timeline-description{
	color:var(--mobile-text-secondary);
	grid-area:2 / 2 / 3 / 3;
	margin:0;
	text-align:start
}
.overlay-wrap.free-trial .header,.overlay-wrap.subscription-dialog .header{
	padding:0;
	width:100%
}
.overlay-wrap.free-trial .main,.overlay-wrap.subscription-dialog .main{
	box-sizing:border-box;
	padding:40px;
	width:100%
}
.overlay-wrap.free-trial .actions .button,.overlay-wrap.subscription-dialog .actions .button{
	margin:inherit;
	width:auto
}
.overlay-wrap.free-trial .actions,.overlay-wrap.subscription-dialog .actions{
	margin-top:0;
	padding:0 40px 40px;
	width:100%
}
.mega-sheet.free-trial .sheet,.mega-sheet.subscription-dialog .sheet{
	max-width:600px;
	padding:0
}
.pwm-image{
	background:url(../imagery/pm-plan-subscription.dd45446840aefdfd.png) 50% / cover no-repeat;
	border-radius:var(--mobile-border-radius-large)
                    var(--mobile-border-radius-large) 0 0;
	display:block;
	height:200px;
	width:100%
}
.overlay-wrap.free-trial .header-title{
	margin-bottom:0
}
